Microsoft.Flow/flows/82473958-abb2-4ddb-92d9-b57bf52bc245/definition.json
{"name":"3b5c9c8c-52eb-44bf-ac47-d78a24d72186","id":"/providers/Microsoft.Flow/flows/3b5c9c8c-52eb-44bf-ac47-d78a24d72186","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"CreateOrUpdateTrainingManually DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"b8c02b2b-10e0-444f-a0b7-d4931d9cb3b7"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"DateCompleted","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"User","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"boolean":{"title":"IsUserOnHold","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"number":{"title":"PassingScore","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"boolean_1":{"title":"IsQuizRequired","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"text_2":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_3","boolean","number","boolean_1","text_2"]}}}},"actions":{"varSOPVersion":{"runAfter":{},"metadata":{"operationMetadataId":"95253075-ec78-4841-a052-93e8610f5c06"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSOPVersion","type":"float","value":0}]}},"varIsCQDHaveQuiz":{"runAfter":{"varSOPVersion":["Succeeded"]},"metadata":{"operationMetadataId":"12b063d7-71f8-424c-80b4-21e7305d391e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varIsCQDHaveQuiz","type":"integer","value":0}]}},"varTrainingPassingAttempts":{"runAfter":{"varIsCQDHaveQuiz":["Succeeded"]},"metadata":{"operationMetadataId":"a7a4f000-8733-4616-a81b-296648aef1f1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varTrainingPassingAttempts","type":"float","value":0}]}},"Get_file_metadata_using_path":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"7b51388f-27ca-49b3-a278-f93ff474e6b3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_2']","path":"/SOPDocumentLibrary/@{triggerBody()['text']}/@{triggerBody()['text']}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"db22e8ff-d370-4a5c-a230-220b532f2676"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"@triggerBody()['text_2']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_If_SOPLatestReleasedVersion_is_not_null":{"actions":{"Set_varSOPVersion":{"runAfter":{},"metadata":{"operationMetadataId":"c4673bad-114b-41a0-bc73-bc0262266c78"},"type":"SetVariable","inputs":{"name":"varSOPVersion","value":"@outputs('Get_file_properties')?['body/SOP_x0020_Latest_x0020_Released_x0020_Version']"}}},"runAfter":{"Get_file_properties":["Succeeded"]},"else":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"9fe56fec-36a9-4155-b2cc-3a2ad24ff4e6"},"type":"SetVariable","inputs":{"name":"varSOPVersion","value":"@outputs('Get_file_properties')?['body/SOP_x0020_Major_x0020_Version']"}}}},"expression":{"not":{"equals":["@outputs('Get_file_properties')?['body/SOP_x0020_Latest_x0020_Released_x0020_Version']","@null"]}},"metadata":{"operationMetadataId":"a217e4b9-7964-40d1-b6a5-a15167f44b49"},"type":"If"},"Get_items":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"7808ceb1-72cb-4d64-8f92-72fcd1701624"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_2']","table":"@variables('Training Record ID')","$filter":"(SOPName eq '@{triggerBody()['text']}') and (SOP_x0020_Version eq '@{variables('varSOPVersion')}') and (SOP_x0020_Training_x0020_Record_/EMail eq '@{triggerBody()['text_3']}')","$orderby":"Created desc","$top":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_If_Get_items_is_greater_than_0":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_Item_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"8ca68a5a-8c0f-4988-a838-b5ea26a225f4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/method":"POST","parameters/uri":"_api/lists/GetByTitle('SOPTrainingRecordList')/items(@{items('Apply_to_each_2')?['ID']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPTrainingRecordListListItem\"\n  },\n\"Title\": \"@{items('Apply_to_each_2')?['SOPName']}\",\n\"SOPName\":\"@{items('Apply_to_each_2')?['SOPName']}\",\n\"SOP_x0020_Training_x0020_Passing\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Passing']}\",\n\"SOP_x0020_Training_x0020_Record_\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_/Claims']}\",\n\"SOP_x0020_Training_x0020_Record_7\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_7']}\",\n\"SOP_x0020_Training_x0020_Record_9\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_9']}\",\n\"SOP_x0020_Training_x0020_Record_1\":\"@{triggerBody()['text_1']}\",\n\"SOP_x0020_Training_x0020_Record_0\":true,\n\"SOP_x0020_Training_x0020_Record_5\":true,\n\"SOP_x0020_Training_x0020_Record_11\":\"@{triggerBody()['boolean']}\",\n\"SOP_x0020_Training_x0020_Record_3\":\"@{variables('varIsCQDHaveQuiz')}\",\n\"SOP_x0020_Training_x0020_Record_2\":\"@{variables('varIsPassed')}\",\n\"SOP_x0020_Training_x0020_Record_4\":\"@{if(equals(variables('varIsCQDHaveQuiz'), 1), triggerBody()['number'], null)}\",\n\"SOP_x0020_Training_x0020_Record_6\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_6']}\",\n\"SOP_x0020_Training_x0020_Record_10\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_10']}\",\n\"SOP_x0020_Training_x0020_Record_8\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_8']}\",\n\"SOP_x0020_Version\":\"@{items('Apply_to_each_2')?['SOP_x0020_Version']}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"4b411c8d-24bc-4fde-b0e8-520ee77015e2"},"type":"Foreach"}},"runAfter":{"Get_items":["Succeeded"]},"else":{"actions":{"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{},"metadata":{"operationMetadataId":"0b4731e0-c921-4a8a-90f7-82f09129fbd6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('SOPTrainingRecordList')/items","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPTrainingRecordListListItem\"\n  },\n\"Title\": \"@{triggerBody()['text']}\",\n\"SOPName\":\"@{triggerBody()['text']}\",\n\"SOP_x0020_Training_x0020_Record_0\":true,\n\"SOP_x0020_Training_x0020_Record_5\":true,\n\"SOP_x0020_Training_x0020_Record_Id\":@{outputs('Compose')},\n\"SOP_x0020_Training_x0020_Record_11\":\"@{triggerBody()['boolean']}\",\n\"SOP_x0020_Training_x0020_Record_2\":true,\n\"SOP_x0020_Training_x0020_Record_6\":false\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"greater":["@length(outputs('Get_items')?['body/value'])",0]},"metadata":{"operationMetadataId":"504c2723-b495-437e-b75b-18885d92756a"},"type":"If"},"varIsPassed":{"runAfter":{"varTrainingPassingAttempts":["Succeeded"]},"metadata":{"operationMetadataId":"054eacbe-9cd0-45c9-87d2-ede55ba3dc28"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varIsPassed","type":"boolean"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Condition_If_Get_items_is_greater_than_0":["Succeeded"]},"metadata":{"operationMetadataId":"1fb19ee2-8841-4e12-b383-ce7b28d03134"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Condition_If_IsQuizRequired_is_checked":{"actions":{"Get_SOPQuizDefinition_items_by_SOPName_and_SOPVersion":{"runAfter":{},"metadata":{"operationMetadataId":"531a2504-9fa5-4cf2-a6a1-6e712c3e97cf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_2']","table":"@variables('Quiz Definitions ID')","viewScopeOption":"RecursiveAll","$filter":"(SOPName eq '@{triggerBody()['text']}') and (SOP_x0020_Version eq '@{variables('varSOPVersion')}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_SOPQuizDefinition_items_by_SOPName_and_SOPVersion')?['body/value']","actions":{"Condition_2":{"actions":{"Set_varIsCQDHaveQuiz_variable_to_1":{"runAfter":{},"metadata":{"operationMetadataId":"43754ff5-e044-45f4-92d8-4f0ac47b46df"},"type":"SetVariable","inputs":{"name":"varIsCQDHaveQuiz","value":1}},"Set_TrainingPassingAttempts_variable":{"runAfter":{"Set_varIsPassed_to_true":["Succeeded"]},"metadata":{"operationMetadataId":"765acc2f-d8ba-4f2f-bb9f-34b3a952d4d4"},"type":"SetVariable","inputs":{"name":"varTrainingPassingAttempts","value":"@items('Apply_to_each')?['SOP_x0020_Quiz_x0020_Allowed_x00']"}},"Set_varIsPassed_to_true":{"runAfter":{"Set_varIsCQDHaveQuiz_variable_to_1":["Succeeded"]},"metadata":{"operationMetadataId":"10755094-dec7-4665-971f-166d923f383c"},"type":"SetVariable","inputs":{"name":"varIsPassed","value":"@true"}}},"runAfter":{},"else":{"actions":{"Set_varIsCQDHaveQuiz_variable_to_0":{"runAfter":{},"metadata":{"operationMetadataId":"8e458a77-a773-46f2-bb2c-ea6e880c0b82"},"type":"SetVariable","inputs":{"name":"varIsCQDHaveQuiz","value":0}},"Set_varIsPassed_to_false":{"runAfter":{"Set_varIsCQDHaveQuiz_variable_to_0":["Succeeded"]},"metadata":{"operationMetadataId":"d7e03d6d-cdc2-4293-ab20-f1aa5909cf93"},"type":"SetVariable","inputs":{"name":"varIsPassed","value":"@false"}}}},"expression":{"greater":["@length(body('Get_SOPQuizDefinition_items_by_SOPName_and_SOPVersion')?['value'])",0]},"metadata":{"operationMetadataId":"87acedd6-6f98-4ebb-9037-260200c25131"},"type":"If"}},"runAfter":{"Get_SOPQuizDefinition_items_by_SOPName_and_SOPVersion":["Succeeded"]},"metadata":{"operationMetadataId":"1049f630-dcce-47d3-93e4-bfb643c61278"},"type":"Foreach"}},"runAfter":{"varQuizDefinitionsID":["Succeeded"]},"expression":{"equals":["@triggerBody()['boolean_1']","@true"]},"metadata":{"operationMetadataId":"e252d231-6cf5-48ee-baad-1e86786e4d55"},"type":"If"},"Get_all_lists_and_libraries":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"fe4d368d-23fe-485b-b592-6ec089ae97e4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_2']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"51758023-24af-48f8-b9d6-02a0d00e8359"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"varDocumentLibraryID":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"1ea32def-fe48-49d4-8105-bec2303fe715"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"GET_Quiz_Definitions_ID":{"runAfter":{"Condition_If_SOPLatestReleasedVersion_is_not_null":["Succeeded"]},"metadata":{"operationMetadataId":"ee74441e-ec79-42d9-a4b9-f2ce0ed5029b"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPQuizDefinitions')"}},"varQuizDefinitionsID":{"runAfter":{"GET_Quiz_Definitions_ID":["Succeeded"]},"metadata":{"operationMetadataId":"386ab36b-2320-42a4-9535-defeab2c4971"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Quiz Definitions ID","type":"string","value":"@{body('GET_Quiz_Definitions_ID')[0]?['Name']}"}]}},"Filter_array":{"runAfter":{"Condition_If_IsQuizRequired_is_checked":["Succeeded"]},"metadata":{"operationMetadataId":"4976ec14-5c15-4828-9f5d-45e12b73fe56"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPTrainingRecordList')"}},"Initialize_variable":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"bd08bfcf-b3bb-4472-b8b0-86d5fa4824a3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Training Record ID","type":"string","value":"@{body('Filter_array')[0]?['Name']}"}]}},"Send_an_HTTP_To_Get_User":{"runAfter":{"varIsPassed":["Succeeded"]},"metadata":{"operationMetadataId":"a4b4b5d1-6f68-4364-8774-70f6f8a10d4d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/method":"GET","parameters/uri":"/_api/web/SiteUsers/getByEmail('@{triggerBody()['text_3']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose":{"runAfter":{"Send_an_HTTP_To_Get_User":["Succeeded"]},"metadata":{"operationMetadataId":"a2a99bfd-c8c0-4f34-9b1f-e7244e5732ac"},"type":"Compose","inputs":"@body('Send_an_HTTP_To_Get_User')['d']['id']"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}