Microsoft.Flow/flows/9c4e3618-f6cd-405a-b1bf-460e20cfa31b/definition.json
{"name":"5061a9d2-d328-449d-96b2-7dfa61399a06","id":"/providers/Microsoft.Flow/flows/5061a9d2-d328-449d-96b2-7dfa61399a06","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Add Author DEV","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"fc98347d-ab57-435b-8896-da37bceff5e5","type":"User","tenantId":"59f63720-3a3f-47d5-80a9-508ff87a342f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-19T11:50:37.4967936Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"c29bca6a-9c8f-4b05-bd86-d696f9d12b20"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getfilemetadatausingpath_FilePath":{"type":"string","description":"Select a file.. This parameter is used as part of \"26051DEF-E6F2-4113-BAF7-50F23127E613\"","x-ms-powerflows-param-ispartial":true},"Grantaccesstoanitemorafolder_Recipients":{"type":"string","format":"email","description":"A collection of recipients who will receive the sharing invitation","x-ms-powerflows-param-ispartial":false},"Getalllistsandlibraries_SiteAddress":{"type":"string","description":"Example: https://contoso.sharepoint.com/sites/sitename.","x-ms-powerflows-param-ispartial":false}},"required":["Getfilemetadatausingpath_FilePath","Grantaccesstoanitemorafolder_Recipients","Getalllistsandlibraries_SiteAddress"]}}}},"actions":{"Get_file_metadata_using_path":{"runAfter":{"Get_folder_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"b4d9f93f-86a0-4cfd-907c-b42001e3c6ef"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","path":"/SOPDocumentLibrary/@{triggerBody()['Getfilemetadatausingpath_FilePath']}/@{triggerBody()['Getfilemetadatausingpath_FilePath']}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Grant_access_to_an_item_or_a_folder":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"acf330be-01fd-4854-8825-b7731aa9af7b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Document Library ID')","id":"@outputs('Get_folder_metadata_using_path')?['body/ItemId']","parameter/recipients":"@triggerBody()['Grantaccesstoanitemorafolder_Recipients']","parameter/roleValue":"role:1073741928"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_user_profile_(V2)":{"runAfter":{"Grant_access_to_an_item_or_a_folder":["Succeeded"]},"metadata":{"operationMetadataId":"9ee429cc-2196-4ee4-aaaa-6e96789ca4f4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@triggerBody()['Grantaccesstoanitemorafolder_Recipients']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Create_Item_With_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"3155e871-031a-45ad-b5a7-3d3ea041ac35"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Get_folder_metadata_using_path":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"5a6a4a8e-510f-44d5-9597-2215090b3ef8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetFolderMetadataByPath"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","path":"/SOPDocumentLibrary/@{triggerBody()['Getfilemetadatausingpath_FilePath']}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_all_lists_and_libraries":{"runAfter":{},"metadata":{"operationMetadataId":"3ca3dc8c-b87f-4b71-86ee-43dfb1671b61"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"varDocumentLibraryID":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"f7bbd353-3d90-42b9-8a22-daf16461eefc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"f7f96d3a-ae88-4162-89ca-058a916dd538"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"Create_Item_With_HTTP_request_to_SharePoint":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"531ae736-5a12-4cf7-8a6b-48ce4d130af7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('SOPAuthors')/items","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPAuthorsListItem\"\n  },\n\"Title\": \"@{triggerBody()['Getfilemetadatausingpath_FilePath']}\",\n\"ItemID\":\"@{outputs('Get_file_metadata_using_path')?['body/ItemId']}\",\n\"User\":\"@{outputs('Get_user_profile_(V2)')?['body/displayName']}\",\n\"Email\":\"@{outputs('Get_user_profile_(V2)')?['body/mail']}\",\n\"FolderId\":\"@{outputs('Get_folder_metadata_using_path')?['body/ItemId']}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365users":{"connectionName":"91d80d9c254e44929ccdeae058b7bdde","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}