Microsoft.Flow/flows/d25eff92-6147-4f2e-84d3-0aa9dc122fdf/definition.json
{"name":"c246b765-ed65-40dc-b57c-7894c093e0ef","id":"/providers/Microsoft.Flow/flows/c246b765-ed65-40dc-b57c-7894c093e0ef","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"NotifyAssignedUserToTraining DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"90213621-c8f4-4f3a-9ae3-13e58955fce6"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"UserEmail","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"DueDate","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"DisplayName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4"]}}}},"actions":{"Send_an_email_(V2)":{"runAfter":{"Comment":["Succeeded"]},"metadata":{"operationMetadataId":"5ceec936-c526-449a-8ba2-710832e5ed3a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerBody()['text_1']","emailMessage/Subject":"NEW training assignment for @{triggerBody()['text']}","emailMessage/Body":"<p>Welcome @{triggerBody()['text_3']}.<br>\n<br>\nYou now have a new training assignment to do.<br>\nThis is a new CQD.<br>\nPlease complete before the Due date: &nbsp;@{triggerBody()['text_2']}<br>\nPlease follow the <a href=\"https://apps.powerapps.com/play/1ad4bb65-57a2-438b-8261-1c4d053d20b0?tenantId=2a6e8edb-160c-4703-a979-412b214d8a2b\">link</a><br>\n<br>\nComment:&nbsp;@{variables('Comment')}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_metadata_using_path":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"280615ba-9fe1-4973-a199-65e8da458ac0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_4']","path":"/SOPDocumentLibrary/@{triggerBody()['text']}/@{triggerBody()['text']}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"2aa36198-78e1-4eff-9d17-485123fc6033"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"@triggerBody()['text_4']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Get_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"2b6e0889-85c4-4d7c-9f48-9e45a573c99e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_4']","parameters/method":"GET","parameters/uri":"_api/web/lists/GetByTitle('SOPDocumentLibrary')/items(@{outputs('Get_file_properties')?['body/ID']})/versions","parameters/headers":{"content-type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Filter_array":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"3c66cdca-d790-4979-a619-a4be4acd5a3a"},"type":"Query","inputs":{"from":"@body('Send_an_HTTP_request_to_SharePoint')['d']['results']","where":"@not(equals(item()['OData__x005f_CheckinComment'], null))"}},"Comment":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"f9dabf56-f1ae-4995-9b33-db3b5dd2a883"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Comment","type":"string","value":"@{body('Filter_array')[0]['OData__x005f_CheckinComment']}"}]}},"Get_all_lists_and_libraries":{"runAfter":{},"metadata":{"operationMetadataId":"07dabbf1-4cd3-4d87-ac64-247919743a03"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_4']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"cb75ad2d-79ad-4e23-a238-16fea5c89b17"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"varDocumentLibraryID":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"38b32508-c6d4-4e55-9dbb-572be742b7ea"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}}}},"connectionReferences":{"shared_office365":{"connectionName":"8fa15d11e44d4a45b338bb6e0d950bac","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}