Microsoft.Flow/flows/5ed2923a-a878-41a4-83ae-68417a8fb35b/definition.json
{"name":"790f521d-e420-46e4-8224-4fe2e8000f47","id":"/providers/Microsoft.Flow/flows/790f521d-e420-46e4-8224-4fe2e8000f47","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"RemoveReviewerFromCQD DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"dce35a3b-70e8-4660-9d71-2b23a42241ba"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"number":{"title":"FolderId","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"text_1":{"title":"UserEmail","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","number","text_1","text_2"]}}}},"actions":{"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"varPrincipalId":["Succeeded"]},"metadata":{"operationMetadataId":"dd4af1d1-c011-4c0a-bd85-0dd538a1090a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/method":"DELETE","parameters/uri":"_api/Web/GetFolderByServerRelativeUrl('SOPDocumentLibrary/@{triggerBody()['text']}')/ListItemAllFields/RoleAssignments/GetByPrincipalId(@{variables('varPrincipalId')})"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"60a960f3-674f-4b7b-b8eb-2c09f0efa5a2"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{},"metadata":{"operationMetadataId":"bedb6d78-bfa7-442e-b7b2-40725a40cc1d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/method":"GET","parameters/uri":"_api/web/siteusers/getbyEmail('@{triggerBody()['text_1']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"varPrincipalId":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_2":["Succeeded"]},"metadata":{"operationMetadataId":"1dd8124b-be74-48ee-84c9-4f6385ec7ef2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varPrincipalId","type":"string","value":"@{body('Send_an_HTTP_request_to_SharePoint_2')['d']['id']}"}]}}}},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}