Microsoft.Flow/flows/c6c787b7-5773-4e8d-b3a5-404c87a05e8e/definition.json
{"name":"79d6c0c3-29a1-446b-b53c-23b1ea2385c3","id":"/providers/Microsoft.Flow/flows/79d6c0c3-29a1-446b-b53c-23b1ea2385c3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Create CQD DEV","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"fc98347d-ab57-435b-8896-da37bceff5e5","type":"User","tenantId":"59f63720-3a3f-47d5-80a9-508ff87a342f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-12-05T14:00:46.8865047Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"522180aa-09ca-402e-9f75-adfce2b490ac"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Getalllistsandlibraries_SiteAddress":{"type":"string","description":"Example: https://contoso.sharepoint.com/sites/sitename.","x-ms-powerflows-param-ispartial":false}},"required":["Getalllistsandlibraries_SiteAddress"]}}}},"actions":{"Condition":{"actions":{"Get_file_content_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"6eb07c02-66a9-471d-bf66-b2c1119dc234"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","path":"/SOPTemplates/MAL-01-01 Dokumentmall.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"d92f1c59-835a-4181-becd-11439b0eeee6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","folderPath":"/SOPDocumentLibrary/@{variables('SOPName')}","name":"@{variables('SOPName')}.docx","body":"@body('Get_file_content_using_path')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Set_folder_grant_permissions_with_SOPRepositoryAdministrators_SOP_group":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_1_(Stop_sharing_folder)":["Succeeded"]},"metadata":{"operationMetadataId":"8b46dfe3-ba93-4a8f-b87d-80c3c30a4a06"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryAdministrators')},roleDefId=1073741924)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_file_grant_permissions_with_SOPRepositoryLineManagers_SP_group":{"runAfter":{"Set_folder_grant_permissions_with_SOPRepositoryAdministrators_SOP_group":["Succeeded"]},"metadata":{"operationMetadataId":"6576ffa7-e9b2-412a-a75b-6b3f1451b99f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryLineManagers')},roleDefId=1073741925)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_folder_grant_permissions_with_SOPRepositoryReaders_SP_group":{"runAfter":{"Set_file_grant_permissions_with_SOPRepositoryLineManagers_SP_group":["Succeeded"]},"metadata":{"operationMetadataId":"46a984fd-554c-4f32-961b-c422d524b0a2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryReaders')},roleDefId=1073741932)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_1_(Stop_sharing_folder)":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"fed39a6a-7533-41cc-a6dd-b3a5164b2cbf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/Web/GetFolderByServerRelativeUrl('SOPDocumentLibrary/@{variables('SOPName')}')/ListItemAllFields/breakroleinheritance(copyRoleAssignments=false, clearSubscopes=true)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"a446eecf-89d4-4986-95cf-a4e3e6c125a7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('SOPDocumentLibrary')/items(@{outputs('Create_file')?['body/ItemId']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPDocumentLibraryItem\"\n  },\n\"Title\": @{variables('SOPName')},\n\"SOPName\":@{variables('SOPName')},\n\"SOP_x0020_Version\":0,\n\"SOP_x0020_Retired\":false,\n\"SOP_x0020_Major_x0020_Version\":0,\n\"SOP_x0020_Minor_x0020_Version\":0,\n\"SOP_x0020_Category\":@{outputs('DocumentCategory')},\n\"SOP_x0020_Country_x0020_Identifier\":@{outputs('DocumentIdentifier')},\n\"SOP_x0020_Document_x0020_Type\":@{outputs('DocumentType')}\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Create_Quiz_Folder":["Succeeded"]},"else":{"actions":{"Condition_2":{"actions":{"Get_file_content_using_path_2":{"runAfter":{},"metadata":{"operationMetadataId":"17c6081c-9193-4f29-b535-75b25f5c8e77"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","path":"/SOPTemplates/MAL-01-01 Dokumentmall.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Get_file_content_using_path_2":["Succeeded"]},"metadata":{"operationMetadataId":"72335a97-be66-42e1-8436-bc97a3b2090d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","folderPath":"/SOPDocumentLibrary/@{variables('SOPName')}","name":"@{variables('SOPName')}.docx","body":"@body('Get_file_content_using_path_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Set_folder_grant_permissions_with_SOPRepositoryAdministrators_SP_group_1":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_2_(Stop_sharing_folder)":["Succeeded"]},"metadata":{"operationMetadataId":"566a01ec-3826-40cf-a88c-b0cf75436193"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryAdministrators')},roleDefId=1073741924)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_folder_grant_permissions_with_SOPRepositoryLineManagers_SP_group_1":{"runAfter":{"Set_folder_grant_permissions_with_SOPRepositoryAdministrators_SP_group_1":["Succeeded"]},"metadata":{"operationMetadataId":"d484b954-e726-479f-8452-9ec0a0ec1c38"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryLineManagers')},roleDefId=1073741925)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_folder_grant_permissions_with_SOPRepositoryReaders_SP_group_1":{"runAfter":{"Set_folder_grant_permissions_with_SOPRepositoryLineManagers_SP_group_1":["Succeeded"]},"metadata":{"operationMetadataId":"e26fe7a1-04e3-4b90-8738-4d5f5c0e5c4e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryReaders')},roleDefId=1073741932)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_2_(Stop_sharing_folder)":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_2":["Succeeded"]},"metadata":{"operationMetadataId":"c0a14f6c-2ff8-4972-9434-3606d4036a9d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/Web/GetFolderByServerRelativeUrl('SOPDocumentLibrary/@{variables('SOPName')}')/ListItemAllFields/breakroleinheritance(copyRoleAssignments=false, clearSubscopes=true)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"de30da6f-a19f-4fea-8725-464758185f58"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('SOPDocumentLibrary')/items(@{outputs('Create_file_2')?['body/ItemId']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPDocumentLibraryItem\"\n  },\n\"Title\": @{variables('SOPName')},\n\"SOPName\":@{variables('SOPName')},\n\"SOP_x0020_Version\":0,\n\"SOP_x0020_Retired\":false,\n\"SOP_x0020_Major_x0020_Version\":0,\n\"SOP_x0020_Minor_x0020_Version\":0,\n\"SOP_x0020_Category\":@{outputs('DocumentCategory')},\n\"SOP_x0020_Country_x0020_Identifier\":@{outputs('DocumentIdentifier')},\n\"SOP_x0020_Document_x0020_Type\":@{outputs('DocumentType')}\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Get_file_content_using_path_3":{"runAfter":{},"metadata":{"operationMetadataId":"8a43b87e-cbed-4cb1-ba1b-1cba12963ad6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","path":"/SOPTemplates/MAL-01-01 Dokumentmall.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Get_file_content_using_path_3":["Succeeded"]},"metadata":{"operationMetadataId":"f121cdec-8b10-4db3-a261-5266f8ef74dc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","folderPath":"/SOPDocumentLibrary/@{variables('SOPName')}","name":"@{variables('SOPName')}.docx","body":"@body('Get_file_content_using_path_3')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Set_folder_grant_permissions_with_SOPRepositoryAdministrators_SP_group_2":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_3_(Stop_sharing_folder)":["Succeeded"]},"metadata":{"operationMetadataId":"ca6bd388-bf8d-4886-883b-fd0fb8403366"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryAdministrators')},roleDefId=1073741924)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_folder_grant_permissions_with_SOPRepositoryLineManagers_SP_group_2":{"runAfter":{"Set_folder_grant_permissions_with_SOPRepositoryAdministrators_SP_group_2":["Succeeded"]},"metadata":{"operationMetadataId":"041b2413-a550-4fb1-824e-91a5d79b5288"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryLineManagers')},roleDefId=1073741925)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_folder_grant_permissions_with_SOPRepositoryReaders_SP_group_2":{"runAfter":{"Set_folder_grant_permissions_with_SOPRepositoryLineManagers_SP_group_2":["Succeeded"]},"metadata":{"operationMetadataId":"5c4cb873-8c12-44db-b21a-37eee827a019"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getByTitle('SOPDocumentLibrary')/items(@{outputs('Create_SOP_Document_Folder')?['body/ID']})/roleassignments/addroleassignment(PrincipalId=@{variables('varSOPRepositoryReaders')},roleDefId=1073741932)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_3_(Stop_sharing_folder)":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_3":["Succeeded"]},"metadata":{"operationMetadataId":"6634a2ad-9b23-4ca4-9948-e28f20a19ae6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/Web/GetFolderByServerRelativeUrl('SOPDocumentLibrary/@{variables('SOPName')}')/ListItemAllFields/breakroleinheritance(copyRoleAssignments=false, clearSubscopes=true)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_3":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"c337df1a-3450-4897-9445-c395621d4f48"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('SOPDocumentLibrary')/items(@{outputs('Create_file_3')?['body/ItemId']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPDocumentLibraryItem\"\n  },\n\"Title\":\"@{variables('SOPName')}\",\n\"SOPName\":\"@{variables('SOPName')}\",\n\"SOP_x0020_Version\":\"0\",\n\"SOP_x0020_Retired\":false,\n\"SOP_x0020_Major_x0020_Version\":\"0\",\n\"SOP_x0020_Minor_x0020_Version\":\"0\",\n\"SOP_x0020_Category\":\"@{outputs('DocumentCategory')}\",\n\"SOP_x0020_Country_x0020_Identifier\":\"@{outputs('DocumentIdentifier')}\",\n\"SOP_x0020_Document_x0020_Type\":\"@{outputs('DocumentType')}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"contains":["@variables('SOPName')","rr"]},"metadata":{"operationMetadataId":"15cd4ea6-f1c3-4ba0-9603-eaa99be33750"},"type":"If"}}},"expression":{"contains":["@variables('SOPName')","www-"]},"metadata":{"operationMetadataId":"eee9568d-e78c-4f34-ada0-f1b077353967"},"type":"If"},"Initialize_variable":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"7a2f58ec-04c1-4113-a44e-25d270c5160e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"FolderName","type":"string","value":"@triggerBody()['Createnewfolder_FolderPath']"}]}},"Compose":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9bc8b6bf-a2f2-44c8-8e20-c1756d82a0fe"},"type":"Compose","inputs":"@split(variables('FolderName'), '~')"},"FolderName":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"34196792-314e-4c3e-a3e9-77d2a2fb1da4"},"type":"Compose","inputs":"@first(outputs('Compose'))"},"Compose_4":{"runAfter":{"SOP_Name_Variable":["Succeeded"]},"metadata":{"operationMetadataId":"2c965c6e-7a06-44a0-b37d-9f61913fd68a"},"type":"Compose","inputs":"@last(outputs('Compose'))"},"Compose_5":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"b64f2488-bfb7-4b06-aa1d-72b38a78a695"},"type":"Compose","inputs":"@split(outputs('Compose_4'), '/')"},"DocumentCategory":{"runAfter":{"Compose_5":["Succeeded"]},"metadata":{"operationMetadataId":"dcf36ed4-758a-42f4-9dc1-e3c94e9b1acc"},"type":"Compose","inputs":"@first(outputs('Compose_5'))"},"DocumentType":{"runAfter":{"DocumentCategory":["Succeeded"]},"metadata":{"operationMetadataId":"90531c48-9cd3-4eda-b0bf-cddadf3da240"},"type":"Compose","inputs":"@outputs('Compose_5')[1]"},"DocumentIdentifier":{"runAfter":{"DocumentType":["Succeeded"]},"metadata":{"operationMetadataId":"708bee0c-4d15-451a-bd12-5013e9cc52ba"},"type":"Compose","inputs":"@outputs('Compose_5')[2]"},"Condition_3":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"ac50cedb-b58a-45fa-a5c2-d23b38eaff79"},"type":"SetVariable","inputs":{"name":"SOPName","value":"@{outputs('DocumentIdentifier')}-@{outputs('FolderName')}"}}},"runAfter":{"varSOPRepositoryReaders":["Succeeded"]},"expression":{"not":{"equals":["@outputs('DocumentIdentifier')","Global"]}},"metadata":{"operationMetadataId":"777c1f16-759b-4a89-82dd-df1e3af715b7"},"type":"If"},"SOP_Name_Variable":{"runAfter":{"FolderName":["Succeeded"]},"metadata":{"operationMetadataId":"42767f18-dc09-46df-8c15-b19b85be62e1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOPName","type":"string","value":"@{outputs('FolderName')}"}]}},"varSOPRepositoryAdministrators":{"runAfter":{"DocumentIdentifier":["Succeeded"]},"metadata":{"operationMetadataId":"a78db993-3c7e-40cb-8913-05b773aad6ac"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSOPRepositoryAdministrators","type":"string","value":"35"}]}},"varSOPRepositoryLineManagers":{"runAfter":{"varSOPRepositoryAdministrators":["Succeeded"]},"metadata":{"operationMetadataId":"9f9a5d1f-f44d-4554-90e0-a1268bb68369"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSOPRepositoryLineManagers","type":"string","value":"43"}]}},"varSOPRepositoryReaders":{"runAfter":{"varSOPRepositoryLineManagers":["Succeeded"]},"metadata":{"operationMetadataId":"3fdc7c18-20f7-4f27-9e7e-120512accab1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSOPRepositoryReaders","type":"string","value":"42"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"508565a8-ba7d-4380-ae01-a5a3ea5e9846"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Get_all_lists_and_libraries":{"runAfter":{},"metadata":{"operationMetadataId":"73170e6c-31a5-4776-9ac6-f8855345b054"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_SOP_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"cab97f34-b200-4c06-aebb-9b2c085fcb12"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"varDocumentLibraryID":{"runAfter":{"GET_SOP_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"fed36354-bbac-4ecd-8833-6349d69f36e5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_SOP_Document_Library_ID')[0]?['Name']}"}]}},"Create_SOP_Document_Folder":{"runAfter":{"Condition_3":["Succeeded"]},"metadata":{"operationMetadataId":"ac8a5338-2528-42d0-bcb3-ce703a40faf3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Document Library ID')","parameters/path":"@variables('SOPName')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_00001_Supporting_Documents":{"runAfter":{"Create_SOP_Document_Folder":["Succeeded"]},"metadata":{"operationMetadataId":"3269323b-f92b-4b22-a428-9d19a6a63f25"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Document Library ID')","parameters/path":"@{variables('SOPName')}/00001_Supporting Documents"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_00002_Reference_Documents_Folder":{"runAfter":{"Create_00001_Supporting_Documents":["Succeeded"]},"metadata":{"operationMetadataId":"7596e00a-d7b3-4a90-9245-2c1578c02589"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Document Library ID')","parameters/path":"@{variables('SOPName')}/00002_Reference Documents"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_000021_Attachments_Folder":{"runAfter":{"Create_00002_Reference_Documents_Folder":["Succeeded"]},"metadata":{"operationMetadataId":"2f1460b5-2ea0-4bf6-93b3-603869ffed70"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Document Library ID')","parameters/path":"@{variables('SOPName')}/000021_Attachments"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_00003_Review_Folder":{"runAfter":{"Create_000021_Attachments_Folder":["Succeeded"]},"metadata":{"operationMetadataId":"69696e27-010f-449a-afe3-84e356dd4e15"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Document Library ID')","parameters/path":"@{variables('SOPName')}/00003_Review"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_10000_Version_0_Folder":{"runAfter":{"Create_00003_Review_Folder":["Succeeded"]},"metadata":{"operationMetadataId":"49908a32-5564-4b32-bb36-685aab939a77"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Document Library ID')","parameters/path":"@{variables('SOPName')}/00003_Review/10000_Version 0"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_Quiz_Folder":{"runAfter":{"Create_10000_Version_0_Folder":["Succeeded"]},"metadata":{"operationMetadataId":"dcc457b2-d3ae-414e-a665-187e0283fa08"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Document Library ID')","parameters/path":"@{variables('SOPName')}/00003_Review/10000_Version 0/Quiz"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}