Microsoft.Flow/flows/5d5a3411-d71c-45cd-80a6-324bdc4d1cc5/definition.json
{"name":"79514253-d722-42dc-ba67-79d4e7855ecd","id":"/providers/Microsoft.Flow/flows/79514253-d722-42dc-ba67-79d4e7855ecd","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"NotifyAssignedUserToRole DEV","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"fc98347d-ab57-435b-8896-da37bceff5e5","type":"User","tenantId":"59f63720-3a3f-47d5-80a9-508ff87a342f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-19T11:46:33.0477059Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"47d0d856-c8af-402f-8f8e-c4c18283e137"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"varUser_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"varGroupName_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["varUser_Value","varGroupName_Value"]}}}},"actions":{"varUser":{"runAfter":{},"metadata":{"operationMetadataId":"7ec91def-3f79-42ac-a7fb-ffea2f3021f8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"User","type":"string","value":"@{triggerBody()['varUser_Value']}"}]}},"varGroupName":{"runAfter":{"varUser":["Succeeded"]},"metadata":{"operationMetadataId":"b74e0d23-d3d3-4031-a0ef-fa641624e4cf"},"type":"InitializeVariable","inputs":{"variables":[{"name":"GroupName","type":"string","value":"@{triggerBody()['varGroupName_Value']}"}]}},"Send_an_email_(V2)":{"runAfter":{"varGroupName":["Succeeded"]},"metadata":{"operationMetadataId":"81ad1c2b-a64c-42fd-a803-a566b632f343"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('User')","emailMessage/Subject":"New Role assigned in CQD Online","emailMessage/Body":"<p>Welcome,<br>\n<br>\nYou have now been assigned the role: @{variables('GroupName')} in CQD Online.<br>\n<br>\nPlease follow the <a href=\"https://apps.powerapps.com/play/e/default-59f63720-3a3f-47d5-80a9-508ff87a342f/a/a914d920-01be-4d4a-aab3-7364fb9e3046?tenantId=59f63720-3a3f-47d5-80a9-508ff87a342f\" target=\"_blank\">link</a><br>\n<br>\nCQD Online</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_office365":{"connectionName":"8fa15d11e44d4a45b338bb6e0d950bac","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}