Microsoft.Flow/flows/9fcbb094-4e25-4a55-8be7-6d001807711b/definition.json
{"name":"30fd665b-2823-4506-bc6f-c68da81468e8","id":"/providers/Microsoft.Flow/flows/30fd665b-2823-4506-bc6f-c68da81468e8","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"AddReviewerNew DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"5f952185-8e9d-48c7-8a91-0de748943d57"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"email":{"title":"UserEmail","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"text_1":{"title":"SiteAddress","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","email","text_1"]}}}},"actions":{"Get_file_metadata_using_path_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"4812576f-0613-4e7a-95c5-d134495b2f1a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_1']","path":"/SOPDocumentLibrary/@{triggerBody()['text']}/@{triggerBody()['text']}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Grant_access_to_an_item_or_a_folder":{"runAfter":{"Get_folder_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"9411484c-3b10-4c21-9e97-0ce33f9c8811"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('Document Library ID')","id":"@outputs('Get_folder_metadata_using_path')?['body/ItemId']","parameter/recipients":"@triggerBody()['email']","parameter/roleValue":"role:1073741929"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_user_profile_(V2)":{"runAfter":{"Grant_access_to_an_item_or_a_folder":["Succeeded"]},"metadata":{"operationMetadataId":"15e00d78-dd7f-4805-b432-b3787dacf1e2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users_1","operationId":"UserProfile_V2"},"parameters":{"id":"@triggerBody()['email']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"dc851e50-873d-48a8-915c-98059ff49fee"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Get_folder_metadata_using_path":{"runAfter":{"Get_file_metadata_using_path_2":["Succeeded"]},"metadata":{"operationMetadataId":"6722ddf8-c54e-4230-8d37-22871e341c68"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFolderMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_1']","path":"/SOPDocumentLibrary/@{triggerBody()['text']}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)":{"runAfter":{"Create_Item_With_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"206e0831-0e6e-48b6-9966-642d031aa729"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerBody()['email']","emailMessage/Subject":"You have been invited as reviewer on @{triggerBody()['text']}","emailMessage/Body":"<html>\n<head>\n    <title>Invitation to reviewer</title>\n    <style type=\"text/css\">\n        .sop-mail-header {{\n            background-color: #0072c6;\n            width: 800px;\n            height: 30px;\n        }}\n\n        .sop-mail-footer {{\n            background-color: #0072c6;\n            width: 800px;\n            height: 50px;\n        }}\n\n        .sop-mail-body {{\n            width: 780px;\n            height: 100px;\n            padding-left: 20px;\n            color: #6c6e70;\n            background-color: #efefef;\n        }}\n\n        .sop-mail-link {{\n            color: #0072c6;\n            text-decoration: underline;\n        }}\n\n        .sop-mail-link:visited {{\n                color: #0072c6;\n                text-decoration: underline;\n        }}\n    </style>\n</head>\n<body>\n    <table cellpadding=\"0\" cellspacing=\"0\">\n        <tr>\n            <td style=\"background-color: #0072c6; width: 800px; height: 30px;\">&nbsp;</td>\n        </tr>\n        <tr>\n            <td style=\"width: 780px; height: 100px; padding-left: 20px; color: #6c6e70; background-color: #efefef;\">Welcome @{outputs('Get_user_profile_(V2)')?['body/displayName']}. <br /><br /> You have been invited as reviewer on <a href=\"https://apps.powerapps.com/play/1ad4bb65-57a2-438b-8261-1c4d053d20b0\" style=\"color: #0072c6; text-decoration: underline;\">@{triggerBody()['text']}</a></td>\n        </tr>\n        <tr>\n            <td style=\"background-color: #0072c6; width: 800px; height: 50px;\">&nbsp;</td>\n        </tr>\n    </table>\n</body>\n</html>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_all_lists_and_libraries":{"runAfter":{},"metadata":{"operationMetadataId":"649dd4d7-d243-4985-8d53-b4db02220b60"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_1']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"e96d54d4-ed95-4cd9-a87c-07c16a6c157a"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"Initialize_variable":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"6dad6627-3cda-47ef-8d00-87a1583d376c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"Create_Item_With_HTTP_request_to_SharePoint":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"35528c43-1910-4667-b907-f77f101502d1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_1']","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('SOPReviewers')/items","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPReviewersListItem\"\n  },\n\"Title\": \"@{triggerBody()['text']}\",\n\"ItemId\":\"@{outputs('Get_file_metadata_using_path_2')?['body/ItemId']}\",\n\"User\":\"@{outputs('Get_user_profile_(V2)')?['body/displayName']}\",\n\"Email\":\"@{triggerBody()['email']}\",\n\"FolderId\":\"@{outputs('Get_folder_metadata_using_path')?['body/ItemId']}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365users_1":{"connectionName":"91d80d9c254e44929ccdeae058b7bdde","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_office365":{"connectionName":"8fa15d11e44d4a45b338bb6e0d950bac","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}