Microsoft.Flow/flows/1d935be2-1af3-4fc7-bc82-18ac9acde258/definition.json
{"name":"31c30b32-3dc3-42aa-bdc2-5041bfac747b","id":"/providers/Microsoft.Flow/flows/31c30b32-3dc3-42aa-bdc2-5041bfac747b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Upload File DEV","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"fc98347d-ab57-435b-8896-da37bceff5e5","type":"User","tenantId":"59f63720-3a3f-47d5-80a9-508ff87a342f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-12-06T09:31:32.1116069Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"fb85fc44-81fc-4f8f-a051-940846cea868"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Createfile_FileName":{"type":"string","description":"Name of the file.. This parameter is used as part of \"080A4F5F-13E4-4D3C-94A3-C934E1EC4B37\"","x-ms-powerflows-param-ispartial":true},"Createfile_FileContent":{"type":"string","format":"binary","description":"Content of the file.","x-ms-powerflows-param-ispartial":false},"NextReviewDate_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Initializevariable_Value":{"type":"any"},"EffectiveDate_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Comment_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Createfile_SiteAddress":{"type":"string","description":"Example: https://contoso.sharepoint.com/sites/sitename.","x-ms-powerflows-param-ispartial":false}},"required":["Createfile_FileName","Createfile_FileContent","NextReviewDate_Value","Initializevariable_Value","EffectiveDate_Value","Comment_Value","Createfile_SiteAddress"]}}}},"actions":{"Create_file":{"runAfter":{},"metadata":{"operationMetadataId":"a0355a17-a761-4288-8a38-fdb0122ed863"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","folderPath":"/SOPDocumentLibrary/@{triggerBody()['Createfile_FileName']}","name":"@{triggerBody()['Createfile_FileName']}.pdf","body":"@base64ToBinary(triggerBody()['Createfile_FileContent'])"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"NextReviewDate":{"runAfter":{"Set_content_approval_status_(Approve_PDF)":["Succeeded"]},"metadata":{"operationMetadataId":"26602538-ced6-4998-b331-415c22c59e75"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NextReviewDate","type":"string","value":"@{triggerBody()['NextReviewDate_Value']}"}]}},"EffectiveDate":{"runAfter":{"NextReviewDate":["Succeeded"]},"metadata":{"operationMetadataId":"faaa9969-a09d-48e8-86bb-a378d6ca0330"},"type":"InitializeVariable","inputs":{"variables":[{"name":"EffectiveDate","type":"string","value":"@{triggerBody()['EffectiveDate_Value']}"}]}},"Comment":{"runAfter":{"EffectiveDate":["Succeeded"]},"metadata":{"operationMetadataId":"522c277e-a7d8-4b4a-9b10-8a70295eaefc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Comment","type":"string","value":"@{triggerBody()['Comment_Value']}"}]}},"Get_file_content_using_path":{"runAfter":{"Comment":["Succeeded"]},"metadata":{"operationMetadataId":"89e41ae2-316d-4a9a-9b3f-61951e216769"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_5","operationId":"GetFileContentByPath"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","path":"/SOPDocumentLibrary/@{triggerBody()['Createfile_FileName']}/@{triggerBody()['Createfile_FileName']}.docx","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_metadata_using_path":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"11bf4d10-8018-496b-8fd8-6c353b8edebb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_6","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","path":"/SOPDocumentLibrary/@{triggerBody()['Createfile_FileName']}/@{triggerBody()['Createfile_FileName']}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"90de2349-c96a-4e38-8255-2fc542915dd3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_7","operationId":"GetFileItem"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"SOP_Version":{"runAfter":{"Get_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"339722c8-86fe-4012-ad3c-53e11a91212f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOP Version","type":"float","value":"@outputs('Get_file_properties')?['body/SOP_x0020_Version']"}]}},"Set_content_approval_status_2":{"runAfter":{"Set_content_approval_status":["Succeeded"]},"metadata":{"operationMetadataId":"5bc7bc7c-2a16-45ff-965f-e42c5e4ec5f1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_10","operationId":"SetApprovalStatus"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']","approvalAction":"Approve","comments":"@variables('Comment')","entityTag":"@outputs('Set_content_approval_status')?['body/ETag']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_content_approval_status":{"runAfter":{"Update_File_properties_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"74dd145c-dfb5-4326-b379-ceabc594e7ac"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_9","operationId":"SetApprovalStatus"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']","approvalAction":"Submit","comments":"@variables('Comment')","entityTag":"@outputs('Get_file_metadata_using_path')?['body/ETag']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_new_folder":{"runAfter":{"varVersionFolder":["Succeeded"]},"metadata":{"operationMetadataId":"21ea81ef-0bcb-4dfa-8f51-49488fec20ce"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_11","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","table":"@variables('Document Library ID')","parameters/path":"@{triggerBody()['Createfile_FileName']}/00003_Review/@{variables('VersionFolder')}/Quiz"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"varVersionFolder":{"runAfter":{"Set_content_approval_status_2":["Succeeded"]},"metadata":{"operationMetadataId":"224cf01a-8161-4dae-a411-5201d998c192"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VersionFolder","type":"string","value":"@{sub(10000, mul(10, int(add(variables('SOP Version'),1))))}_Version @{add(variables('SOP Version'),1)}"}]}},"Set_content_approval_status_(Submit_PDF)":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"d70e862f-1bda-44fd-8d2c-2c4dfa04a070"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_3","operationId":"SetApprovalStatus"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","table":"@variables('Document Library ID')","id":"@outputs('Create_file')?['body/ItemId']","approvalAction":"Submit","comments":"","entityTag":"@outputs('Create_file')?['body/ETag']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_content_approval_status_(Approve_PDF)":{"runAfter":{"Set_content_approval_status_(Submit_PDF)":["Succeeded"]},"metadata":{"operationMetadataId":"f802e430-e7e2-48a8-9f66-38e0e8885e00"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_4","operationId":"SetApprovalStatus"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","table":"@variables('Document Library ID')","id":"@outputs('Create_file')?['body/ItemId']","approvalAction":"Approve","comments":"","entityTag":"@outputs('Set_content_approval_status_(Submit_PDF)')?['body/ETag']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Create_new_folder":["Succeeded"]},"metadata":{"operationMetadataId":"48cfe5a0-0562-47ab-9c90-34db5c6fe437"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Get_all_lists_and_libraries":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"44b09cc1-1d1c-4526-bba2-94cdf504ae27"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"ca19a4cf-2ce2-4e8b-a89f-16809c40ce5c"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"varDocumentLibraryID":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"941f298b-96c6-42a0-8fdf-4b2547e8be2a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"Update_File_properties_on_PDF_HTTP_request_to_SharePoint":{"runAfter":{"SOP_Version":["Succeeded"]},"metadata":{"operationMetadataId":"76b54857-33af-444f-836b-3578bb13e853"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('SOPDocumentLibrary')/items(@{outputs('Create_file')?['body/ItemId']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPDocumentLibraryItem\"\n  },\n\"SOP_x0020_Version\":\"@{string(add(variables('SOP Version'),1))}\" ,\n\"SOP_x0020_Retired\":false,\n\"SOP_x0020_Major_x0020_Version\":\"@{string(add(variables('SOP Version'),1))}\",\n\"SOP_x0020_Minor_x0020_Version\":\"0\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_File_properties_HTTP_request_to_SharePoint":{"runAfter":{"Update_File_properties_on_PDF_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"97c6a184-9700-4baf-b43b-06ba9f76af76"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Createfile_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('SOPDocumentLibrary')/items(@{outputs('Get_file_metadata_using_path')?['body/ItemId']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPDocumentLibraryItem\"\n  },\n\"SOP_x0020_Version\":\"@{string(add(variables('SOP Version'),1))}\" ,\n\"SOP_x0020_Retired\":false,\n\"SOP_x0020_Effective_x0020_Date\":\"@{variables('EffectiveDate')}\",\n\"SOP_x0020_Next_x0020_Review_x0020_Date\":\"@{variables('NextReviewDate')}\",\n\"SOP_x0020_Major_x0020_Version\":\"@{string(add(variables('SOP Version'),1))}\",\n\"SOP_x0020_Minor_x0020_Version\":\"0\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in Power Apps is selected. To use this flow from a Power App, select the control you want to trigger the flow and go to the Action tab in the Power Apps ribbon and select Flows."},"connectionReferences":{"shared_sharepointonline_2":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_5":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_6":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_7":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_10":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_9":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_11":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_3":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_4":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}