Microsoft.Flow/flows/7194c48e-fccd-42de-bd5f-9b35752436f2/definition.json
{"name":"a2426024-0bef-4ada-accc-a7ea1c769ad0","id":"/providers/Microsoft.Flow/flows/a2426024-0bef-4ada-accc-a7ea1c769ad0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Export Comments To PDF Dynamic  DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"abb77ae3-d952-4cdf-befe-de46ed2f7222"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"number":{"title":"SOPVersion","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"},"text_1":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","number","text_1"]}}}},"actions":{"Condition":{"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"507c1449-700b-4939-9967-b11e629f4a6b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('SOP Discussion ID')","$filter":"(SOPName eq '@{triggerBody()['text']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"42c1c130-005d-48e3-9d0f-244ea9878721"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":{"Sop Name":"@item()?['SOPName']","Sop Version":"@item()?['SOP_x0020_Version']","Created By":"@item()?['Author/DisplayName']","Created":"@item()?['Created']","Comment":"@item()?['Body']"}}},"Create_HTML_table":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"64d343da-8045-4309-97d9-2dc3bcd64959"},"type":"Table","inputs":{"from":"@body('Select')","format":"HTML"}},"Create_file":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"aaaa46e9-41bb-441b-9a60-d9f2688a25f2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Anlab Pdfs","name":"@{triggerBody()['text']}.html","body":"@body('Create_HTML_table')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"43828b7b-35a4-4117-a399-07e2b37c1f2c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Convert_file":["Succeeded"]},"metadata":{"operationMetadataId":"c50601db-6c9a-49a1-854d-0251442cb084"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['text_1']","folderPath":"/SOPDocumentLibrary/Comments","name":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@body('Convert_file')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"varSOPDiscussion_":["Succeeded"]},"else":{"actions":{"Get_items_2":{"runAfter":{},"metadata":{"operationMetadataId":"0f6855ef-5c45-4032-b32a-96ba2ca201b3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('SOP Discussion ID')","$filter":"(SOPName eq '@{triggerBody()['text']}') and (SOP_x0020_Version eq '@{triggerBody()['number']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Select_2":{"runAfter":{"Get_items_2":["Succeeded"]},"metadata":{"operationMetadataId":"f3f0543b-17df-47ec-93bf-d53d950e14df"},"type":"Select","inputs":{"from":"@outputs('Get_items_2')?['body/value']","select":{"Sop Name":"@item()?['SOPName']","Sop Version":"@item()?['SOP_x0020_Version']","Created By":"@item()?['Author/DisplayName']","Created":"@item()?['Created']","Comment":"@item()?['Body']"}}},"Create_HTML_table_2":{"runAfter":{"Select_2":["Succeeded"]},"metadata":{"operationMetadataId":"8e4b79c7-59ea-4f5e-976b-8135a23a295c"},"type":"Table","inputs":{"from":"@body('Select_2')","format":"HTML"}},"Create_file_2":{"runAfter":{"Create_HTML_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"359dd9d1-e677-4308-91f3-6439befed3ae"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Anlab Pdfs","name":"@{triggerBody()['text']}.html","body":"@body('Create_HTML_table_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file_2":{"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"62ae29f6-158e-40dd-a69e-66940ee5f8e7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file_2')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_4":{"runAfter":{"Convert_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"b45d0252-07db-4a49-9254-8eedd29fbab1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['text_1']","folderPath":"/SOPDocumentLibrary/Comments","name":"@outputs('Convert_file_2')?['headers/x-ms-file-name']","body":"@body('Convert_file_2')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"expression":{"equals":["@triggerBody()['number']","@-1"]},"metadata":{"operationMetadataId":"b38864c1-2344-44e2-81f1-e75747ba7b24"},"type":"If"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"08a4df50-c166-47ad-b612-0be925d749ac"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Get_all_lists_and_libraries":{"runAfter":{},"metadata":{"operationMetadataId":"82740dc8-9686-4a4d-a4a8-8c234948f216"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_1']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_SOP_Discussion_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"7f88695e-ebe4-4786-8cc1-1680067672fd"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDiscussion')"}},"varSOPDiscussion_":{"runAfter":{"GET_SOP_Discussion_ID":["Succeeded"]},"metadata":{"operationMetadataId":"65545baa-0f7c-428c-9e8a-14f3865302e8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOP Discussion ID","type":"string","value":"@{body('GET_SOP_Discussion_ID')[0]?['Name']}"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"d507598d516b46bf9ae3c3ff89b57b84","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}