Microsoft.Flow/flows/31c4c7af-9dc8-4dfa-becc-6e617a98caab/definition.json
{"name":"8f85af59-08fe-4894-bbc5-6e5d371b612c","id":"/providers/Microsoft.Flow/flows/8f85af59-08fe-4894-bbc5-6e5d371b612c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PublishMinorVersion DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"7cd33341-b18f-4fe6-9ce6-5729d58d64ed"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Comment","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"SiteAddress","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Get_file_metadata_using_path":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"9f939916-0ca6-4b9b-8cdd-f0ce3e4f9eeb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_2']","path":"/SOPDocumentLibrary/@{triggerBody()['text']}/@{triggerBody()['text']}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Get_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"3972f585-4f14-4599-9179-db1bc5efcc9e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/method":"GET","parameters/uri":"_api/web/Lists/getbytitle('SOPDocumentLibrary')/items(@{outputs('Get_file_metadata_using_path')?['body/ItemId']})/versions"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"62d96b75-8aea-4508-bf8d-4eda0048f353"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"@triggerBody()['text_2']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Send_an_HTTP_request_to_SharePoint')?['body']?['d']?['results']","actions":{"Condition_If_MinorVersionFile_is_not_empty":{"actions":{},"runAfter":{},"else":{"actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"026fec12-e3e0-4fdc-9eef-da10ecc08b12"},"type":"AppendToStringVariable","inputs":{"name":"MinorVersionFile","value":"@split(items('Apply_to_each')?['VersionLabel'], '.')[1]"}}}},"expression":{"greater":["@length(variables('MinorVersionFile'))",0]},"metadata":{"operationMetadataId":"7965b29f-049c-4d6e-829f-9d496fdd4d59"},"type":"If"}},"runAfter":{"InfoMessage":["Succeeded"]},"metadata":{"operationMetadataId":"8ad7ea2d-4b5f-49cf-bf5b-84dea4ab3890"},"type":"Foreach"},"MinorVersionFile":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"f96b8ac2-b635-4168-9a84-c200fa3e0886"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MinorVersionFile","type":"string"}]}},"NewMinorVersion":{"runAfter":{"MinorVersionFile":["Succeeded"]},"metadata":{"operationMetadataId":"5b52ecc4-9b85-49af-8096-4c4fd1e96bf3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NewMinorVersion","type":"string","value":"0"}]}},"Condition_If_MinorVersion_and_MinorVersionFile_is_equals":{"actions":{"Set_NewMinorVersion_variable":{"runAfter":{},"metadata":{"operationMetadataId":"cdc62ad0-f62b-4bb9-bb71-f8abd548c7c8"},"type":"SetVariable","inputs":{"name":"NewMinorVersion","value":"@{add(outputs('Get_file_properties')?['body/SOP_x0020_Minor_x0020_Version'], 1)}"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"else":{"actions":{"Condition_If_MinorVersionFile_is_bigger_than_MinorVersion":{"actions":{"Set_NewMinorVersion_variable_1":{"runAfter":{},"metadata":{"operationMetadataId":"98201507-fc9e-4674-94a7-aa85baac0e55"},"type":"SetVariable","inputs":{"name":"NewMinorVersion","value":"@variables('MinorVersionFile')"}},"Set_IncrementSopVersion_variable":{"runAfter":{"Set_NewMinorVersion_variable_1":["Succeeded"]},"metadata":{"operationMetadataId":"5cc5de9d-56d4-4239-aac0-f9327bae63b4"},"type":"SetVariable","inputs":{"name":"IncrementSopVersion","value":"@false"}}},"runAfter":{},"else":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"b1fc7226-b24a-4bf7-9d86-a2e25fa7a0a8"},"type":"SetVariable","inputs":{"name":"InfoMessage","value":"Minor version on document is lower than calculated minor version."}}}},"expression":{"greater":["@float(variables('MinorVersionFile'))","@outputs('Get_file_properties')?['body/SOP_x0020_Minor_x0020_Version']"]},"metadata":{"operationMetadataId":"034bc4a4-2ea0-449a-b734-bcfec6bda1f9"},"type":"If"}}},"expression":{"equals":["@variables('MinorVersionFile')","@string(outputs('Get_file_properties')?['body/SOP_x0020_Minor_x0020_Version'])"]},"metadata":{"operationMetadataId":"b79b0fbf-67d7-4b2d-8ecc-9edda5749d25"},"type":"If"},"IncrementSopVersion":{"runAfter":{"NewMinorVersion":["Succeeded"]},"metadata":{"operationMetadataId":"b74f50a4-46e9-4e0f-8f08-89b03686a0ff"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IncrementSopVersion","type":"boolean","value":"@true"}]}},"varVersionFolder":{"runAfter":{"Condition_IsError":["Succeeded"]},"metadata":{"operationMetadataId":"224cf01a-8161-4dae-a411-5201d998c192"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VersionFolder","type":"string","value":"@{sub(10000, mul(10, int(outputs('Get_file_properties')?['body/SOP_x0020_Version'])))}_Version @{outputs('Get_file_properties')?['body/SOP_x0020_Version']}"}]}},"Create_new_folder":{"runAfter":{"varVersionFolder":["Succeeded"]},"metadata":{"operationMetadataId":"21ea81ef-0bcb-4dfa-8f51-49488fec20ce"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_11","operationId":"CreateNewFolder"},"parameters":{"dataset":"@triggerBody()['text_2']","table":"@variables('Document Library ID')","parameters/path":"@{triggerBody()['text']}/00003_Review/@{variables('VersionFolder')}/@{sub(10000, mul(10, int(outputs('Get_file_properties')?['body/SOP_x0020_Version'])))}_Version @{outputs('Get_file_properties')?['body/SOP_x0020_Version']}.@{variables('NewMinorVersion')}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Copy_file":{"runAfter":{"Update_File_Properties_HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"3cd59ad6-8f1c-4262-bdcd-49725cf1d751"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CopyFileAsync"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/sourceFileId":"@outputs('Get_file_properties')?['body/{Identifier}']","parameters/destinationDataset":"@triggerBody()['text_2']","parameters/destinationFolderPath":"@outputs('Create_new_folder')?['body/{FullPath}']","parameters/nameConflictBehavior":2},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Check_out_file":{"runAfter":{"Copy_file":["Succeeded"]},"metadata":{"operationMetadataId":"4ffeb11a-5773-4ff1-a715-eb3ddb5f462d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CheckOutFile"},"parameters":{"dataset":"@triggerBody()['text_2']","table":"@variables('Document Library ID')","id":"@outputs('Copy_file')?['body/ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Check_in_file":{"runAfter":{"Check_out_file":["Succeeded"]},"metadata":{"operationMetadataId":"c1e2c617-342a-41ce-83f7-75a0634c79b5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CheckInFile"},"parameters":{"dataset":"@triggerBody()['text_2']","table":"@variables('Document Library ID')","id":"@outputs('Copy_file')?['body/ItemId']","parameter/comment":"@triggerBody()['text_1']","parameter/checkinType":0},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_IsError":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"b9ee45bb-b4d0-479b-b446-faa3cb9e7dd4"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Respond_to_a_PowerApp_or_flow_InfoMsg":["Succeeded"]},"expression":{"not":{"equals":["@variables('InfoMessage')","@string('Published successful')"]}},"metadata":{"operationMetadataId":"7aeccb8c-f036-4320-a9ea-b98d3d3013f5"},"type":"If"},"InfoMessage":{"runAfter":{"IncrementSopVersion":["Succeeded"]},"metadata":{"operationMetadataId":"b276b3bd-f5be-476f-b5cf-56e4ceb62be9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"InfoMessage","type":"string","value":"Published successful"}]}},"Respond_to_a_PowerApp_or_flow_InfoMsg":{"runAfter":{"Condition_If_MinorVersion_and_MinorVersionFile_is_equals":["Succeeded"]},"metadata":{"operationMetadataId":"a2aa02a0-b613-488b-bb10-2c15bdc0d9ae"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"infomsg":"@variables('InfoMessage')"},"schema":{"type":"object","properties":{"infomsg":{"title":"InfoMsg","x-ms-dynamically-added":true,"type":"string"}}}}},"Get_all_lists_and_libraries":{"runAfter":{},"metadata":{"operationMetadataId":"9ff5db96-6bad-4abe-85c4-3e8c399fdd5e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_2']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"e974691c-0e68-46f2-8e09-434a1e9d3496"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"varDocumentLibraryID":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"1370a2db-426d-4ac8-83fe-1944c523b013"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"Update_File_Properties_HTTP":{"runAfter":{"Create_new_folder":["Succeeded"]},"metadata":{"operationMetadataId":"7f7043ca-b3bb-4c7f-a0ab-0cb8619a4983"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('SOPDocumentLibrary')/items(@{outputs('Get_file_metadata_using_path')?['body/ItemId']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPDocumentLibraryItem\"\n  },\n\"SOP_x0020_Retired\": false,\n\"SOP_x0020_Minor_x0020_Version\":@{add(outputs('Get_file_properties')?['body/SOP_x0020_Minor_x0020_Version'], 1)}\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{"Convert_time_zone":["Succeeded","Failed"]},"metadata":{"operationMetadataId":"3424870f-6dfd-47b1-b780-e27f2ccd2814"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_2']","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('SOPDocumentLibrary')/items(@{outputs('Copy_file')?['body/ItemId']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPDocumentLibraryItem\"\n  },\n\"SOP_x0020_Retired\": \"false\",\n\"SOP_x0020_Effective_x0020_Date\":@{body('Convert_time_zone')}\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Convert_time_zone":{"runAfter":{"Check_in_file":["Succeeded"]},"metadata":{"operationMetadataId":"315d71ef-72d9-40d0-b9fa-9135563ae5bb"},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{null}","formatString":"d","sourceTimeZone":"Eastern Standard Time","destinationTimeZone":"Eastern Standard Time"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_11":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}