Microsoft.Flow/flows/664f5a5d-b95c-40c6-9d77-5c3fa1964362/definition.json
{"name":"a6be0c37-3423-429e-a0ff-61a7847c2a94","id":"/providers/Microsoft.Flow/flows/a6be0c37-3423-429e-a0ff-61a7847c2a94","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ExcelByCQDNameNew DEV","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"fc98347d-ab57-435b-8896-da37bceff5e5","type":"User","tenantId":"59f63720-3a3f-47d5-80a9-508ff87a342f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-19T11:43:07.5162695Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6c6d5e67-f8b0-4a5c-9cb3-bbebcf8f6865"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"CollectionFinal","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"SOPVersion","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"email":{"title":"UserEmail","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"text_3":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","email","text_3"]}}}},"actions":{"Pending_Trainings":{"runAfter":{},"metadata":{"operationMetadataId":"b06a8c39-b538-4768-b4bc-7f63759e3e75"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Pending Trainings","type":"array"}]}},"Overdue_Trainings":{"runAfter":{"Pending_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"fa90e899-4c33-4e01-8ca1-7bc95e00b34b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Overdue Trainings","type":"array"}]}},"Completed_Trainings":{"runAfter":{"Overdue_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"f48ea5dd-1325-4f42-852b-acc2af2b4658"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Completed Trainings","type":"array"}]}},"Compose":{"runAfter":{"Temp_Count_Functional":["Succeeded"]},"metadata":{"operationMetadataId":"575d0955-1d84-427f-b562-07064f3934d9"},"type":"Compose","inputs":"@triggerBody()['text']"},"Parse_JSON":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"0805fa4d-bee2-42e4-beac-cf123441e4b7"},"type":"ParseJson","inputs":{"content":"@outputs('Compose')","schema":{"type":"array","items":{"type":"object","properties":{"CompleteDate":{},"DueDate":{"type":"string"},"ID":{"type":"integer"},"SOPName":{"type":"string"},"SOPVersion":{"type":"integer"},"Score":{},"TrainingType":{"type":"integer"},"UserEmail":{"type":"string"},"UserName":{"type":"string"},"OnHold":{"type":"boolean"},"Suspended":{"type":"boolean"},"IsConfirmed":{"type":"boolean"}},"required":["CompleteDate","DueDate","ID","IsConfirmed","OnHold","SOPName","SOPVersion","Score","Suspended","TrainingType","UserEmail","UserName"]}}}},"Apply_to_each_Collection_Rows":{"foreach":"@body('Parse_JSON')","actions":{"Condition_Filter_Pending":{"actions":{"Append_to_array_Pending_Trainings":{"runAfter":{},"metadata":{"operationMetadataId":"14cb2c56-7d24-4d68-bac4-c9523a53c478"},"type":"AppendToArrayVariable","inputs":{"name":"Pending Trainings","value":"@items('Apply_to_each_Collection_Rows')"}}},"runAfter":{},"expression":{"and":[{"or":[{"equals":["@items('Apply_to_each_Collection_Rows')?['Suspended']","@null"]},{"equals":["@items('Apply_to_each_Collection_Rows')?['Suspended']","@false"]}]},{"greaterOrEquals":["@items('Apply_to_each_Collection_Rows')?['DueDate']","@utcNow()"]},{"or":[{"equals":["@items('Apply_to_each_Collection_Rows')?['IsConfirmed']","@null"]},{"equals":["@items('Apply_to_each_Collection_Rows')?['IsConfirmed']","@false"]}]},{"or":[{"equals":["@items('Apply_to_each_Collection_Rows')?['OnHold']","@null"]},{"equals":["@items('Apply_to_each_Collection_Rows')?['OnHold']","@false"]}]}]},"metadata":{"operationMetadataId":"a9dcf96f-2e1a-4175-bec1-f1359d9e2f58"},"type":"If"},"Condition_Filter_Overdue":{"actions":{"Append_to_array_Overdue_Trainings":{"runAfter":{},"metadata":{"operationMetadataId":"f881e8e0-be50-4a6c-a6d7-4ed06e5c4f0b"},"type":"AppendToArrayVariable","inputs":{"name":"Overdue Trainings","value":"@items('Apply_to_each_Collection_Rows')"}}},"runAfter":{"Condition_Filter_Pending":["Succeeded"]},"expression":{"and":[{"or":[{"equals":["@items('Apply_to_each_Collection_Rows')?['Suspended']","@null"]},{"equals":["@items('Apply_to_each_Collection_Rows')?['Suspended']","@false"]}]},{"less":["@items('Apply_to_each_Collection_Rows')?['DueDate']","@utcNow()"]},{"or":[{"equals":["@items('Apply_to_each_Collection_Rows')?['OnHold']","@null"]},{"equals":["@items('Apply_to_each_Collection_Rows')?['OnHold']","@false"]}]},{"or":[{"equals":["@items('Apply_to_each_Collection_Rows')?['IsConfirmed']","@null"]},{"equals":["@items('Apply_to_each_Collection_Rows')?['IsConfirmed']","@false"]}]}]},"metadata":{"operationMetadataId":"351b631f-9cfb-4ac8-a0f8-8f1423ae9c03"},"type":"If"},"Condition_Filter_Confirmed":{"actions":{"Append_to_array_Completed_Trainings":{"runAfter":{},"metadata":{"operationMetadataId":"0576d323-2482-4045-83ca-d261a3501465"},"type":"AppendToArrayVariable","inputs":{"name":"Completed Trainings","value":"@items('Apply_to_each_Collection_Rows')"}}},"runAfter":{"Condition_Filter_Overdue":["Succeeded"]},"expression":{"and":[{"or":[{"equals":["@items('Apply_to_each_Collection_Rows')?['Suspended']","@null"]},{"equals":["@items('Apply_to_each_Collection_Rows')?['Suspended']","@false"]}]},{"equals":["@items('Apply_to_each_Collection_Rows')?['IsConfirmed']","@true"]},{"or":[{"equals":["@items('Apply_to_each_Collection_Rows')?['OnHold']","@null"]},{"equals":["@items('Apply_to_each_Collection_Rows')?['OnHold']","@false"]}]}]},"metadata":{"operationMetadataId":"8d788528-c635-414a-86a9-971f293e661a"},"type":"If"}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"d85cdd96-1ecc-4087-b2dd-8b99745cbef2"},"type":"Foreach"},"Compose_Empty_Excel_File":{"runAfter":{"Apply_to_each_Collection_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"88f77137-a3c0-4e30-be6d-14aef954803e"},"type":"Compose","inputs":{"$content-type":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","$content":"UEsDBBQABgAIAAAAIQA1o+c1hQEAACEHAAATAAgCW0NvbnRlbnRfVHlwZXNdLnhtbCCiBAIooAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADMlTtPwzAUhXck/kPkFSVui4QQatqBxwgdisRq7JvGql/ydUv773HclgGFlCqVYImVOPecz/fYyXi60Spbg0dpTUmGxYBkYLgV0ixK8jp/ym9JhoEZwZQ1UJItIJlOLi/G860DzGK1wZLUIbg7SpHXoBkW1oGJM5X1moV46xfUMb5kC6CjweCGcmsCmJCHRoNMxg9QsZUK2eMmPt6ReFBIsvvdi41XSZhzSnIWIildG/HNJd87FLEyvYO1dHgVMQhtdWhmfjbY173E1ngpIJsxH56Zjhh0o+iH9ct3a5dFt0gLpa0qyUFYvtKxAwU6D0xgDRC0KtJYaCbNgbvNPxbPvHUY2+jhdIJDn5rq3EUh8EHCV6c6HWMEvZcMTcgCxKnefIXB6t72O5lfmu+jTrkgTcPwzJk3WykJd0XewjH6JxzXf8QR4qcGaLr2jyTJHAkAw1YBnvvEJ9Eu591+fdOKygA6Hfz+6/0SbfSOn/8Whv7brz9D/63XwUDTD27yCQAA//8DAFBLAwQUAAYACAAAACEAE16+ZQIBAADfAgAACwAIAl9yZWxzLy5yZWxzIKIEAiigAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKySTUsDMRCG74L/Icy9O9sqItJsL0XoTWT9ATGZ/WA3mZCkuv33RkF0obYeepyvd555mfVmsqN4oxB7dhKWRQmCnGbTu1bCS/24uAcRk3JGjexIwoEibKrrq/UzjSrlodj1Poqs4qKELiX/gBh1R1bFgj25XGk4WJVyGFr0Sg+qJVyV5R2G3xpQzTTFzkgIO3MDoj74vPm8NjdNr2nLem/JpSMrkKZEzpBZ+JDZQurzNaJWoaUkwbB+yumIyvsiYwMeJ1r9n+jva9FSUkYlhZoDneb57DgFtLykRXMTf9yZRnznMLwyD6dYbi/JovcxsT1jzlfPNxLO3rL6AAAA//8DAFBLAwQUAAYACAAAACEAMyuR6L0DAAAsCQAADwAAAHhsL3dvcmtib29rLnhtbKxVbW+jOBD+ftL9B8R3CgbzqqYr3qLrqd2tutn2S6WVA6b4AjhnTJKq2v9+Y/LSdlOdct2TEoPt8eNnZp4Zzj9t2kZbUdEz3k10dGbpGu0KXrLucaJ/m02NQNd6SbqSNLyjE/2J9vqni99/O19zsZhzvtAAoOsnei3lMjLNvqhpS/ozvqQd7FRctETCVDya/VJQUvY1pbJtTNuyPLMlrNO3CJE4BYNXFStoxouhpZ3cggjaEAn0+5ot+z1aW5wC1xKxGJZGwdslQMxZw+TTCKprbRFdPnZckHkDbm+Qq20E/Dz4IwsGe38TbB1d1bJC8J5X8gygzS3pI/+RZSL0JgSb4xichoRNQVdM5fDASngfZOUdsLwXMGT9MhoCaY1aiSB4H0RzD9xs/eK8Yg2920pXI8vlZ9KqTDW61pBe5iWTtJzoPkz5mr5ZEMMyGVgDu7aLkKebFwc53witpBUZGjkDIe/hoTI8L7RdZQnCiBtJRUckTXknQYc7v35VcyN2WnNQuHZL/x6YoFBYoC/wFUZSRGTe3xBZa4NoJnoaPXzrwf2HjLR/ke5PLvjqIaP9QvLlwyt1kuNS+A/6JIVy2gSvt8y27z9HAAiKaK/BGyk0eL/MriAPX8kKsuI4ulbuqvYS4h58f3bSOHdjPzaQ7yUGjjNsJO4UG7GXeVaCQttO/R/ghvCigpNB1rtUK9CJjiGvR1vXZLPfQVY0sPKFwDNOXc/J8tBw88AysGXDdZ4TGzgJY8+3/cDy7R/KVdXU7hhd9y+iUFNtc8+6kq8nuuvjALT8tJ8byIbpety9Z6WsQVahhQ9rf1D2WANl8FMtVkxAVFQXBDtdI4VkKzojczBQLtmK90R/dnI7wY4LfOM4NXAIpIPQswxnip0MOU6SBM7I13xFeGyuQHx8at1YEDe0U91cmwlotvACLXLcVmmAG0WkrhOXJVLOvz74BT4L5UDfPQjEDwftnw+m0E4bCtX37lFQwuGoM2prz7ogTQH1px4juRBZdqAs6EZe9XJ8gvQZRAdhK/atEBtW7rgGDkLbCLBjGynO7Nz18yxPXCUe9W2K/o8OPVZgtP/oKZY1ERJiWiwgpre0SkgPOh+DaALf12QTN0gsByjiKZoaGIWWkSQeNtxs6rg+ytLcnb6QVe5XH+yPgTmepkQO0DtU2xjnkRqnu9XDYrVd2MnkTUuIbjMV993pfzP8Ct439ETj6d2Jhunn69n1ibZX+ez7/fRU4/g6yeKdvfludLbZU+OoOXOf84t/AAAA//8DAFBLAwQUAAYACAAAACEAiTOc7xEBAADxBAAAGgAIAXhsL19yZWxzL3dvcmtib29rLnhtbC5yZWxzIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAvJRNS8QwEIbvgv+h5G7TdnUV2XQvIuxVVvAa0ukHm4+SmVX77w0VWheWeCm9BGaGvO/DGzK7/bfRySd47JwVLE8zloBVrupsI9j78fXuiSVI0lZSOwuCDYBsX97e7N5ASwqXsO16TIKKRcFaov6Zc1QtGImp68GGSe28kRRK3/BeqpNsgBdZtuX+rwYrLzSTQyWYP1TB/zj0wfl/bVfXnYIXp84GLF2x4OqM5MyH0UFU+gZIsDSdu7wjMJs0IDN+nWazJM2X8ydsAWimmVrIx0kU5nHtaIpYNMXK0URh8pVh8lgy27XfKUrzsCQN0qDDRph+028dC+N+SXsKewZm97Hk4zlFwC8WVfkDAAD//wMAUEsDBBQABgAIAAAAIQB1zx/W6AEAAIADAAAYAAAAeGwvd29ya3NoZWV0cy9zaGVldDEueG1sAAAA//8AAAD//5yS32vCMBDH3wf7H0Lea/pLp8Uq1lK2tzG2vcf0aoNNUpL4i7H/fWlFHfgiQgJJ7u5zd7nvdH4QDdqBNlzJFAcDHyOQTJVcrlP89Vl4Y4yMpbKkjZKQ4iMYPJ89P033Sm9MDWCRI0iT4traNiHEsBoENQPVgnSWSmlBrbvqNTGtBlr2QaIhoe+PiKBc4hMh0fcwVFVxBrliWwHSniAaGmpd/abmrTnTBLsHJ6jebFuPKdE6xIo33B57KEaCJW9rqTRdNa7vQxBThg7ardDt6Jymf7/JJDjTyqjKDhyZnGq+bX9CJoSyC+m2/7swQUw07Hg3wCsqfKykYHhhhVdY9CBsdIF136WTLS9T/LMo/KwYBksvLxaZF+eLiTfO/NyLlsMsW0YvRZhHv3g2LbmbcNcV0lCleBFgMpv24vnmsDf/zqjT4kqpTWd4czn8zpXc+Ba9Ft81KqGi28Z+qP0r8HVtnfDjQTx0UX8AAAD//wAAAP//sinOSE0tcUksSdS3AwAAAP//AAAA//+yKUhMT/VNLErPzCtWyElNK7FVMtAzV1IoykzPgLFL8gvAoqZKCkn5JSX5uTBeRmpiSmoRiGespJCWn18C4+jb2eiX5xdlF2ekppbYAQAAAP//AwBQSwMEFAAGAAgAAAAhAJVUM/DxAQAAkAMAABgAAAB4bC93b3Jrc2hlZXRzL3NoZWV0Mi54bWwAAAD//wAAAP//nNJLj4IwEADg+yb7H5resaDoKhENimS9bfZ1r2WQRtqStr6y2f++BaNu4sWYQEIL880MnfH0ICq0A224kjEOOj5GIJnKuVzH+Osz84YYGUtlTislIcZHMHg6eX4a75XemBLAIidIE+PS2joixLASBDUdVYN0bwqlBbVuqdfE1Bpo3gaJinR9f0AE5RKfhEjfY6ii4AxSxbYCpD0hGipqXf2m5LU5a4LdwwmqN9vaY0rUjljxittji2IkWLRcS6XpqnJ9H4KQMnTQ7uq6u3dO0+7fZBKcaWVUYTtOJqeab9sfkRGh7CLd9n8XE4REw443B3iluo+VFPQvVveK9R7EBhes+V062vI8xj+LZOYHi3noZeFLzwuTUeoNs1nPC4ZhOkyTebJIs188GefcnXDTFdJQxDgJMJmM2+H55rA3/56RpasPqIBZcAkCjJrZXCm1aT5cui2/CSU3sVk7m28a5VDQbWXf1f4V+Lq0Dgk7Yd9F/QEAAP//AAAA//+yKc5ITS1xSSxJ1LcDAAAA//8AAAD//7IpSExP9U0sSs/MK1bISU0rsVUy0DNXUijKTM+AsUvyC8CipkoKSfklJfm5MF5GamJKahGIZ6ykkJafXwLj6NvZ6JfnF2UXZ6SmltgBAAAA//8DAFBLAwQUAAYACAAAACEAG0NpCOcBAACAAwAAGAAAAHhsL3dvcmtzaGVldHMvc2hlZXQzLnhtbAAAAP//AAAA//+ckt9rwjAQx98H+x9C3mv6U6ZYpbrKfBtj23tMrzbYJCWJvxj735dW1EFfREggyd197i73ncyOokZ70IYrmeJg4GMEkqmCy02Kvz6X3gtGxlJZ0FpJSPEJDJ5Nn58mB6W3pgKwyBGkSXFlbTMmxLAKBDUD1YB0llJpQa276g0xjQZadEGiJqHvD4mgXOIzYazvYaiy5AxeFdsJkPYM0VBT6+o3FW/MhSbYPThB9XbXeEyJxiHWvOb21EExEmy82kil6bp2fR+DmDJ01G6FbkeXNN17L5PgTCujSjtwZHKuud/+iIwIZVdSv/+7MEFMNOx5O8AbKnyspCC5ssIbLHoQNrzC2u/S4x0vUvyTRHmYRYvIi7Jk5MXZcujN5/nc8/MkC4JFnC9G+S+eTgruJtx2hTSUKc4CTKaTTjzfHA7m3xm1WlwrtW0NK5fDb11Jz3fZafFdowJKuqvthzq8Ad9U1gk/HsSJi/oDAAD//wAAAP//sinOSE0tcUksSdS3AwAAAP//AAAA//+yKUhMT/VNLErPzCtWyElNK7FVMtAzV1IoykzPgLFL8gvAoqZKCkn5JSX5uTBeRmpiSmoRiGespJCWn18C4+jb2eiX5xdlF2ekppbYAQAAAP//AwBQSwMEFAAGAAgAAAAhAMEXEL5OBwAAxiAAABMAAAB4bC90aGVtZS90aGVtZTEueG1s7FnNixs3FL8X+j8Mc3f8NeOPJd7gz2yT3SRknZQctbbsUVYzMpK8GxMCJTn1UiikpZdCbz2U0kADDb30jwkktOkf0SfN2COt5SSbbEpadg2LR/69p6f3nn5683Tx0r2YekeYC8KSll++UPI9nIzYmCTTln9rOCg0fE9IlIwRZQlu+Qss/Evbn35yEW3JCMfYA/lEbKGWH0k52yoWxQiGkbjAZjiB3yaMx0jCI58Wxxwdg96YFiulUq0YI5L4XoJiUHt9MiEj7A2VSn97qbxP4TGRQg2MKN9XqrElobHjw7JCiIXoUu4dIdryYZ4xOx7ie9L3KBISfmj5Jf3nF7cvFtFWJkTlBllDbqD/MrlMYHxY0XPy6cFq0iAIg1p7pV8DqFzH9ev9Wr+20qcBaDSClaa22DrrlW6QYQ1Q+tWhu1fvVcsW3tBfXbO5HaqPhdegVH+whh8MuuBFC69BKT5cw4edZqdn69egFF9bw9dL7V5Qt/RrUERJcriGLoW1ane52hVkwuiOE94Mg0G9kinPUZANq+xSU0xYIjflWozuMj4AgAJSJEniycUMT9AIsriLKDngxNsl0wgSb4YSJmC4VCkNSlX4rz6B/qYjirYwMqSVXWCJWBtS9nhixMlMtvwroNU3IC+ePXv+8Onzh789f/To+cNfsrm1KktuByVTU+7Vj1///f0X3l+//vDq8Tfp1CfxwsS//PnLl7//8Tr1sOLcFS++ffLy6ZMX333150+PHdrbHB2Y8CGJsfCu4WPvJothgQ778QE/ncQwQsSSQBHodqjuy8gCXlsg6sJ1sO3C2xxYxgW8PL9r2bof8bkkjpmvRrEF3GOMdhh3OuCqmsvw8HCeTN2T87mJu4nQkWvuLkqsAPfnM6BX4lLZjbBl5g2KEommOMHSU7+xQ4wdq7tDiOXXPTLiTLCJ9O4Qr4OI0yVDcmAlUi60Q2KIy8JlIITa8s3eba/DqGvVPXxkI2FbIOowfoip5cbLaC5R7FI5RDE1Hb6LZOQycn/BRyauLyREeoop8/pjLIRL5jqH9RpBvwoM4w77Hl3ENpJLcujSuYsYM5E9dtiNUDxz2kySyMR+Jg4hRZF3g0kXfI/ZO0Q9QxxQsjHctwm2wv1mIrgF5GqalCeI+mXOHbG8jJm9Hxd0grCLZdo8tti1zYkzOzrzqZXauxhTdIzGGHu3PnNY0GEzy+e50VciYJUd7EqsK8jOVfWcYAFlkqpr1ilylwgrZffxlG2wZ29xgngWKIkR36T5GkTdSl045ZxUep2ODk3gNQLlH+SL0ynXBegwkru/SeuNCFlnl3oW7nxdcCt+b7PHYF/ePe2+BBl8ahkg9rf2zRBRa4I8YYYICgwX3YKIFf5cRJ2rWmzulJvYmzYPAxRGVr0Tk+SNxc+Jsif8d8oedwFzBgWPW/H7lDqbKGXnRIGzCfcfLGt6aJ7cwHCSrHPWeVVzXtX4//uqZtNePq9lzmuZ81rG9fb1QWqZvHyByibv8uieT7yx5TMhlO7LBcW7Qnd9BLzRjAcwqNtRuie5agHOIviaNZgs3JQjLeNxJj8nMtqP0AxaQ2XdwJyKTPVUeDMmoGOkh3UrFZ/QrftO83iPjdNOZ7msupqpCwWS+XgpXI1Dl0qm6Fo9796t1Ot+6FR3WZcGKNnTGGFMZhtRdRhRXw5CFF5nhF7ZmVjRdFjRUOqXoVpGceUKMG0VFXjl9uBFveWHQdpBhmYclOdjFae0mbyMrgrOmUZ6kzOpmQFQYi8zII90U9m6cXlqdWmqvUWkLSOMdLONMNIwghfhLDvNlvtZxrqZh9QyT7liuRtyM+qNDxFrRSInuIEmJlPQxDtu+bVqCLcqIzRr+RPoGMPXeAa5I9RbF6JTuHYZSZ5u+HdhlhkXsodElDpck07KBjGRmHuUxC1fLX+VDTTRHKJtK1eAED5a45pAKx+bcRB0O8h4MsEjaYbdGFGeTh+B4VOucP6qxd8drCTZHMK9H42PvQM65zcRpFhYLysHjomAi4Ny6s0xgZuwFZHl+XfiYMpo17yK0jmUjiM6i1B2ophknsI1ia7M0U8rHxhP2ZrBoesuPJiqA/a9T903H9XKcwZp5memxSrq1HST6Yc75A2r8kPUsiqlbv1OLXKuay65DhLVeUq84dR9iwPBMC2fzDJNWbxOw4qzs1HbtDMsCAxP1Db4bXVGOD3xric/yJ3MWnVALOtKnfj6yty81WYHd4E8enB/OKdS6FBCb5cjKPrSG8iUNmCL3JNZjQjfvDknLf9+KWwH3UrYLZQaYb8QVINSoRG2q4V2GFbL/bBc6nUqD+BgkVFcDtPr+gFcYdBFdmmvx9cu7uPlLc2FEYuLTF/MF7Xh+uK+XNl8ce8RIJ37tcqgWW12aoVmtT0oBL1Oo9Ds1jqFXq1b7w163bDRHDzwvSMNDtrVblDrNwq1crdbCGolZX6jWagHlUo7qLcb/aD9ICtjYOUpfWS+APdqu7b/AQAA//8DAFBLAwQUAAYACAAAACEACK40cpcCAAA9BgAADQAAAHhsL3N0eWxlcy54bWykVN9r2zAQfh/sfxB6d2W7sZcE22Vpaih0Y5AO9qrYciKmH0FSgrOx/30n20kcOrbRvlin8+m77+47KbtrpUAHZizXKsfRTYgRU5Wuudrk+OtzGUwxso6qmgqtWI6PzOK74v27zLqjYKstYw4BhLI53jq3mxNiqy2T1N7oHVPwp9FGUgdbsyF2ZxitrT8kBYnDMCWScoV7hLms/gdEUvN9vwsqLXfU8TUX3B07LIxkNX/cKG3oWgDVNprQCrVRamLUmlOSzvsij+SV0VY37gZwiW4aXrGXdGdkRmh1QQLk1yFFCQnjq9pb80qkCTHswL18uMgarZxFld4rB2IOjiKzP9CBCvBEmBRZpYU2yIFK0KTOo6hkfcQ9FXxtuA9rqOTi2Ltj7+iEHeIkhzZ7J/Eph8XCIS7EmUDsCYCjyEApx4wqYYMG+/m4g/QKhqqH6eL+Eb0x9BjFyegA6RIW2VqbGoZ4XHrvKjLBGgdEDd9s/er0Dr5r7RwIXWQ1pxutqPClnE4MBpRTMSFWftC/NVfYbYPUXpbSPdY5hivjm3AyoZDB7PH6jccfo/XYb4ZFbXOND4gj2lekz+mR1zvHn/3NFDDNAwRa77lwXP2BMGDW7aUFoVfA+VvWNeecBTpRs4buhXs+/8zxxf7Ear6X8TnqCz9o10Hk+GI/eaWi1OdgrXuyMF6wor3hOf75sPgwWz6UcTANF9NgcsuSYJYslkEyuV8sl+UsjMP7X6O7/oab3j1NRQYPxtwKeA/MUOxQ4uriy/Fo09PvZhRoj7nP4jT8mERhUN6GUTBJ6TSYprdJUCZRvEwni4ekTEbck1e+CCGJov5t8eSTueOSCa5OWp0UGntBJNj+pQhyUoJc3v3iNwAAAP//AwBQSwMEFAAGAAgAAAAhACpNpVucAQAALgMAABEACAFkb2NQcm9wcy9jb3JlLnhtbCCiBAEooAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIxSTW/bMAy9D9h/MHR3ZDtptwmJC2xFD0MLDGiGFrtpFJuqtT4gMXH97yfbiZNsPewm8pGPj09cXr2ZJtthiNrZFStnBcvQglPablbs5/om/8yySNIq2TiLK9ZhZFf1xw9L8AJcwB/BeQykMWaJyUYBfsWeibzgPMIzGhlnqcIm8MkFIymFYcO9hFe5QV4VxSU3SFJJkrwnzP3EyPaUCiZKvw3NQKCAY4MGLUVezkp+rCUMJr7bMCAnlUZT59NOe7mn3ApGcKp+i3oqbNt21s4HGUl/yR/vbu+HVXNte68AWb1UIEhTg/WSH5/pFbe/XxBoTE9BAiCgJBfqa2lepM2+u+B2Q+8B6C1/xa51QcXUfhalfoURgvaUPnIkP0uk6kZGuks/+6RRfe3+mvMv3o8LuNP9ZYzjjpGCwctRM6osuSNGLw/Iw/zb9fqG1VVRVXkxz8tP6+KLuFiIcv6r3+qsv3drTJi9vv9grKp1uRAXhVhUJ4wHgno4UEm4caEb5cMUDbdrKR3PPUna7t0E907q9MLrPwAAAP//AwBQSwMEFAAGAAgAAAAhAB+bXYvvAAAAigEAABAACAFkb2NQcm9wcy9hcHAueG1sIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnJBNT8MwDIbvSPyHKPc1GUgTmtJM40tcJjiM3aPU7SJaO0rC1P57DBMFceRm+7Ufv7bZjEMvTpByIKzlstJSAHpqAna1fN0/Lm6kyMVh43pCqOUEWW7s5YV5SRQhlQBZMAJzLY+lxLVS2R9hcLliGVlpKQ2ucJo6RW0bPNyTfx8Ai7rSeqVgLIANNIs4A+WZuD6V/0Ib8p/+8mE/RTZszTbGPnhX+Eq7Cz5RpraIh9FDL56xDwhG/e4xO4eug2SNmqM7GqLDiUtz9MT4xNNvty4DC39yJh7Or7XLVaWvtf7a8l0z6ueJ9gMAAP//AwBQSwMEFAAGAAgAAAAhAP7THooOAQAAkgEAABMACAFkb2NQcm9wcy9jdXN0b20ueG1sIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnJBNb4MwDIbvk/YfotxpDAVKEFBBKNJuO3S7oxBaJJIgkrKiaf99qfbRe4/Waz9+7Gx/lSNaxGwGrXLsbwAjobjuBnXK8dux8RKMjG1V145aiRyvwuB98fyUvc56ErMdhEEOoUyOz9ZOKSGGn4VszcbFyiW9nmVrXTmfiO77gYta84sUypIAICb8YqyW3vSPwz+8dLGPIjvNb3bm/bhOTrfIfuEr6qUduhx/1hGr6wgiLzhQ5vngVx7d0p0HCUBQBayh5eELo+nWHGCkWulOZ1pZp32DvnSOuth0nD6MnQu4gmMAJHUZbWnFwiiOYRfWlCVhE8Zh2bhdlNGM3Gcy8mdVZOT+zOIbAAD//wMAUEsDBBQABgAIAAAAIQACjYSTIggAAEYqAAATACgAY3VzdG9tWG1sL2l0ZW0xLnhtbCCiJAAooCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADsWttu2zgQfS/QfxC0z7bka2yjbpHGWyDYpA2atLtvBUVSsba6laQS5+93KOouS5aUFLsotn1oLWuGw5nhmZlDv3l38FztgTLuBP5Wn4xNXaM+Dojj32/1SNijlf7u7RssNjjwBfXF3VNIb/GeekiDh9+2uq55KPu38NJH5NGtvgtw5IFY/Fbh28vdVjcP5gT+mqvd+WK2fn8xXyyX5tl8t75YzT/Ml/PzDwtzsb5YV2W/ptaeVb/ZUY6ZE4p4LxeMIkE1pPn0USOJHeOqyC0OQrAzfpy4Qdp2RhZkNV2ubGu5nFnWZIrP1rP5DJ6h2dyiE10Dv/l8g8VW3wsRbgyDx17hY8/BLOCBLcY48IzAth1MjalpLg2PCkSQQEbBEakiDw1RFDKwngmH8lj5uRDMsSJBuf729as3B042yipNIHZPhYwJDxGGDfc3Ol8rdhYLAti7YBGNP9oOdQmPw0psbFE8NelsuZjY6/X6jCxXEGcyXSBzPtc1n09Vxvh8pv6jnAn2ZoY9Pj6OH2fjgN1L302Mv66vVNqlDjvw7u+Gz92vsg/slpmxmlKbWqPlFE1G8/VyNkLEPhutrfl6tkRLeraYpjbC/rY6Mq25hW00QvPZYjQ3TXiXLMnIWiHIhpmNbJNm4XK8MGBC8/NAdVrPSMNdl++0fCZPXSqPa2zAVi+EPF0Acjp06UHCQJZi9EcEmJF9LutIT9418tF9rDzb7BFdyHVTtakaRu2tLlPmmhIH3VL2AAfqOjlKkHuO/wnjiEE6mHptH0eFPyAueiu4iSzX4ftBC55HIviDPt0Eji/4IA19pWeb2z1ilPzpiP0XDoDZcdWi3A587LhHJQ0JLUms4v9XQhk/SwIo4xl/5oU86S4Uo+opNOt2KBODPgTM21EbRS4A2I8IuQ6AF8lx5SeBEPFyxDpdK+rHxhBw5iAaCotC3A3THN8OQiT2EkXPjBvEhE/ZBdRyFkBom2Gjc31oNLQFk7oobze8AbAaIAJtHJ/Qw1ZfQfFxXBdZLpTArHYRh4cuelIdS6OKvUMIhR4pE4PDTJmP3BNy0IaQT777lEhmqQxQ7dIijjLKoXxj2b1oFuJgIaTM5mMgqMI1dYhKYtVzJo9lGX6L26ngXuYV6LD6eKWmpodnarL/rndyUM+cMYEO+JQ3imI2oAkCILn0oLzFrVA5L9J3WwpoAp7yVELtzerfAT7JtryQDF8+X+WdXWvZ/cJcXZOIobLoK6AciZ+V6mV1pw3HqtBXp0rj3hLS1b+vuStWchzxabqnrCjU996lNLTnebXc5rGFvr1PptcV9Uj1uvB/BwmK7UTuHehbT3mnKtiEgOX3XmLj6bHw0OGK+vdirz0gN4L0ni4WBXwsgGjeeLRipsrUTm1Gp15a+7/N+NXbjHpvnR+i2elDpMQ12ZsfKRjHlDccoCMDVI9aAmPBNfTATteKAu9fQjdZmSSA/jmkA1jkW0EEnRZpG/GKY0Adx3d5L3as1LRPe3Js3urnGIMV4hJa+rwAyiFIPhlS/hKFslfrZtMzxp3qjPTzKmaeZ/mgl6expGlOdMqFNNbKKopV4fgyv0pFqEwywMb5MJ+pnpDH7BXQbd+hM6wxgIyOiozaiaKBUmavNLxGfmF8tdwAf8/m2t9gOk9mxdqgONzKQTydc5qoGzk+Fwg4pHS8Jfl4G0bMjT1JsJF4iRuT8cTI34V8KwzXRYH4m+zNAIbVE2Nz2rwbgZWjWJ1VS+LeYpsa8a8CjBQdnUgQSSMBwc5ovKeECDDAsdz4ATuEMX1mmHPDnBoEjwEfc06rkxXphl9i+VhX2YbycCm3cZNR0Ck2Xtx9q3yRjRWFgpVQjPWX00aviQokeIMltR+wlko0aaACCY43pTRI0qdcDwq1rFnDxgEeQEjSqKcFqjyVyP+W5ZPiVRy04KYlITJgSIUPJeIiGR+1uEwdJ0LBdcIRrhxTi6xpsYTDhJSvAkWguspdLN+onkfW3xTL657mBRqFSX5900+Bcux3+vQYMFIlLCu7Uy1BwauN5rjIv4/UUN9jM0mQ4erpPmBP7Z4+bYvSllxMvYwyRh8cSSv01JYdS98PRIxp6ZOUAUwfag1/7vYOV0ObBlnsADBSrok91fzIsyjTAlvj6AGeBUxLjeRj7Q7eQGHoSgHJhoASGPLCALgRoPE0qLVaFMK1GlARoC1bAtlw0jWK8D5TNn796phpip2u7kI9RaXdnqbbXHm1ALenklF+/+zox7cXKWR5idohRyPBnFsIXDTofHQi/FXNUWnxrIvHdu731IDdoVd6SQ49IeQ73UcmvilX0Ru4noHjmHxXm+k25YEp43fj5AjxpjQxlWD3rczh9P3K0ql0YVgaKqvmonZpaUjl/gd+UVC6Smy2VYHg0clwIylz4CDbttowFUqLegqXJ8Du4u93F+ecB9gByCO/Q+8gngaHG3QlGpprbGEOr6ZANRDghey8AFDCVSuklFog+7VA4t3svSSV2uQ6i9w+cUG9y6T9l0t2Fk1dCkWhSU7u9mSa5ftQmVLdfdaIlQPe7I6qmpw06KfhiG8G2lJ1VUc1ZZzKM28oVCnPPg+wlI40YT7DTzGY/PFBpSp2gb5EE5Etb7HB6yMLlPlgWWAKB8vKznyozYtTsi8A1kcinTa73WGzMdSDVclYDxeGYA8XhmgPF4ZwDxeGePcXvpOUyuAiJaW7c8WnalQnFC9jVWbAUKiSCuKq0v+cxWtXqYUaqLzAIcttHBbfnCFv6YViO7PbMePYL0Hf/gMAAP//AwBQSwMEFAAGAAgAAAAhAIgU9z63AAAAyQAAABgAKABjdXN0b21YbWwvaXRlbVByb3BzMS54bWwgoiQAKKAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADI3LCsIwEEX3gv8QZh9TH40PjGKNBfcKbkM61UIzI00UQfx3s7rce+Ce7f4TevHGIXZMBqaTAgSS56aju4HrpZYrEDE5alzPhAaIYb8bj7ZN3DQuuZh4wHPCIPLQ5TxbA19d6boq7VzqpT3JxepQy0M5O8rqaG29LueFXk9/ILKa8k008EjpuVEq+gcGFyf8RMqw5SG4lOtwV9y2nUfL/hWQkpoVhVb+lfXhFnpQuz8AAAD//wMAUEsDBBQABgAIAAAAIQC6PJihDwEAALoBAAATACgAY3VzdG9tWG1sL2l0ZW0yLnhtbCCiJAAooCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACMkU1vgzAMhv8Kyh3CRwctAnrojqtUaZq0awgORCIfSszoz1/Yuq3SdtjNsv0+fm03x6uaozdwXhrdkixJSQSam0HqsSULinhPjl1ja+uMBYcSfBQU2te2JROirSn1fALFfKIkd8YbgQk3ihohJAeap2lJFSAbGDL6QyE3zNXLb9C6rslaJMaNmyyjr+en5w92LLVHpjl8qSz/33SphbEMp41X0QtzqMGdjEZnZk+6ZjB8UaDxzDQbYYu65rL0s/TTp7+WVMM+BwF9XOYsi3eHsojZIKr40O8ORclKqB7yQHpxcxR2qbWcW4JugZCjIdk1j+C5kxbDgX933BVD/210iP4yRu+/0L0DAAD//wMAUEsDBBQABgAIAAAAIQDxsyAstgAAAMkAAAAYACgAY3VzdG9tWG1sL2l0ZW1Qcm9wczIueG1sIKIkACigIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyNTQvCMBBE74L/Iew9pkqrVYwS+wHeFbyGdKuFZleaKIL4381pmHkwb3/8+FG8cQoDk4blIgOB5Lgb6K7hemllCSJES50dmVADMRwP89m+C7vORhsiT3iO6EUahpTnWsO3LZdV0WRrWVSFkXlZ53K7MY00ZVuZU5ubplj9QCQ1pZug4RHjc6dUcA/0Niz4iZRgz5O3MdXprrjvB4c1u5dHimqVZWvlXknvb34EdfgDAAD//wMAUEsDBBQABgAIAAAAIQC9hGIjkAAAANsAAAATACgAY3VzdG9tWG1sL2l0ZW0zLnhtbCCiJAAooCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABsjjsOwjAQBa+C0pMt6NDiNIEKUeUCxjiKpazX8i4f3x4HQYGUep5mHnYkvHUc1UcdSvKdwRNnGjyl2aqXzYvmKIdmUk17AHGTJystBZdZeNTWMYFMNvvEISo8dvC1abXBWF3SGOyDVF8xPbs71dQ5XLPNZUkh/CAeb0HXJx+CF/9cxwtA+Dtu3gAAAP//AwBQSwMEFAAGAAgAAAAhAM+qpZK4AAAAyQAAABgAKABjdXN0b21YbWwvaXRlbVByb3BzMy54bWwgoiQAKKAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADI3BisIwFEX3gv8Q3j4m2karGEUbBPcjuA3pqxaa96SJw4D475PV5d4D9+yPf3EUvzilgcnCcqFBIAXuBnpYuP1cZAMiZU+dH5nQAjEcD/PZvku7zmefMk94zRhFGYaSV2fhs6xN1bSVkY3WZ1mbtpLbi9vITWNO5rRqz652XxBFTeUmWXjm/NoplcITo08LfiEV2PMUfS51eiju+yGg4/COSFmttF6r8C76eI8jqMM/AAAA//8DAFBLAwQUAAYACAAAACEAdD85esIAAAAoAQAAHgAIAWN1c3RvbVhtbC9fcmVscy9pdGVtMS54bWwucmVscyCiBAEooAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAITPwYoCMQwG4LvgO5Tcnc54EJHpeFkWvIm44LV0MjPFaVOaKPr2Fk8rLOwxCfn+pN0/wqzumNlTNNBUNSiMjnofRwM/5+/VFhSLjb2dKaKBJzLsu+WiPeFspSzx5BOrokQ2MImkndbsJgyWK0oYy2SgHKyUMo86WXe1I+p1XW90/m1A92GqQ28gH/oG1PmZSvL/Ng2Dd/hF7hYwyh8R2t1YKFzCfMyUuMg2jygGvGB4t5qq3Au6a/XHf90LAAD//wMAUEsDBBQABgAIAAAAIQBcliciwwAAACgBAAAeAAgBY3VzdG9tWG1sL19yZWxzL2l0ZW0yLnhtbC5yZWxzIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhM/BasMwDAbge6HvYHRfnPYwSonTSxnkNkYLvRpHSUxjy1hKad9+pqcWBjtKQt8vNYd7mNUNM3uKBjZVDQqjo97H0cD59PWxA8ViY29nimjggQyHdr1qfnC2UpZ48olVUSIbmETSXmt2EwbLFSWMZTJQDlZKmUedrLvaEfW2rj91fjWgfTNV1xvIXb8BdXqkkvy/TcPgHR7JLQGj/BGh3cJC4RLm70yJi2zziGLAC4Zna1uVe0G3jX77r/0FAAD//wMAUEsDBBQABgAIAAAAIQB78wKjwwAAACgBAAAeAAgBY3VzdG9tWG1sL19yZWxzL2l0ZW0zLnhtbC5yZWxzIKIEASigAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhM/BasMwDAbge2HvYHRfnHQwSonTyyjkNkYHuxpHccxiy1jqWN9+pqcWBj1KQt8v9YffuKofLBwoGeiaFhQmR1NI3sDn6fi8A8Vi02RXSmjgggyH4WnTf+BqpS7xEjKrqiQ2sIjkvdbsFoyWG8qY6mSmEq3Usnidrfu2HvW2bV91uTVguDPVOBko49SBOl1yTX5s0zwHh2/kzhGT/BOh3ZmF4ldc3wtlrrItHsVAEIzX1ktT7wU99Pruv+EPAAD//wMAUEsBAi0AFAAGAAgAAAAhADWj5zWFAQAAIQcAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAE16+ZQIBAADfAgAACwAAAAAAAAAAAAAAAAC+AwAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAMyuR6L0DAAAsCQAADwAAAAAAAAAAAAAAAADxBgAAeGwvd29ya2Jvb2sueG1sUEsBAi0AFAAGAAgAAAAhAIkznO8RAQAA8QQAABoAAAAAAAAAAAAAAAAA2woAAHhsL19yZWxzL3dvcmtib29rLnhtbC5yZWxzUEsBAi0AFAAGAAgAAAAhAHXPH9boAQAAgAMAABgAAAAAAAAAAAAAAAAALA0AAHhsL3dvcmtzaGVldHMvc2hlZXQxLnhtbFBLAQItABQABgAIAAAAIQCVVDPw8QEAAJADAAAYAAAAAAAAAAAAAAAAAEoPAAB4bC93b3Jrc2hlZXRzL3NoZWV0Mi54bWxQSwECLQAUAAYACAAAACEAG0NpCOcBAACAAwAAGAAAAAAAAAAAAAAAAABxEQAAeGwvd29ya3NoZWV0cy9zaGVldDMueG1sUEsBAi0AFAAGAAgAAAAhAMEXEL5OBwAAxiAAABMAAAAAAAAAAAAAAAAAjhMAAHhsL3RoZW1lL3RoZW1lMS54bWxQSwECLQAUAAYACAAAACEACK40cpcCAAA9BgAADQAAAAAAAAAAAAAAAAANGwAAeGwvc3R5bGVzLnhtbFBLAQItABQABgAIAAAAIQAqTaVbnAEAAC4DAAARAAAAAAAAAAAAAAAAAM8dAABkb2NQcm9wcy9jb3JlLnhtbFBLAQItABQABgAIAAAAIQAfm12L7wAAAIoBAAAQAAAAAAAAAAAAAAAAAKIgAABkb2NQcm9wcy9hcHAueG1sUEsBAi0AFAAGAAgAAAAhAP7THooOAQAAkgEAABMAAAAAAAAAAAAAAAAAxyIAAGRvY1Byb3BzL2N1c3RvbS54bWxQSwECLQAUAAYACAAAACEAAo2EkyIIAABGKgAAEwAAAAAAAAAAAAAAAAAOJQAAY3VzdG9tWG1sL2l0ZW0xLnhtbFBLAQItABQABgAIAAAAIQCIFPc+twAAAMkAAAAYAAAAAAAAAAAAAAAAAIktAABjdXN0b21YbWwvaXRlbVByb3BzMS54bWxQSwECLQAUAAYACAAAACEAujyYoQ8BAAC6AQAAEwAAAAAAAAAAAAAAAACeLgAAY3VzdG9tWG1sL2l0ZW0yLnhtbFBLAQItABQABgAIAAAAIQDxsyAstgAAAMkAAAAYAAAAAAAAAAAAAAAAAAYwAABjdXN0b21YbWwvaXRlbVByb3BzMi54bWxQSwECLQAUAAYACAAAACEAvYRiI5AAAADbAAAAEwAAAAAAAAAAAAAAAAAaMQAAY3VzdG9tWG1sL2l0ZW0zLnhtbFBLAQItABQABgAIAAAAIQDPqqWSuAAAAMkAAAAYAAAAAAAAAAAAAAAAAAMyAABjdXN0b21YbWwvaXRlbVByb3BzMy54bWxQSwECLQAUAAYACAAAACEAdD85esIAAAAoAQAAHgAAAAAAAAAAAAAAAAAZMwAAY3VzdG9tWG1sL19yZWxzL2l0ZW0xLnhtbC5yZWxzUEsBAi0AFAAGAAgAAAAhAFyWJyLDAAAAKAEAAB4AAAAAAAAAAAAAAAAAHzUAAGN1c3RvbVhtbC9fcmVscy9pdGVtMi54bWwucmVsc1BLAQItABQABgAIAAAAIQB78wKjwwAAACgBAAAeAAAAAAAAAAAAAAAAACY3AABjdXN0b21YbWwvX3JlbHMvaXRlbTMueG1sLnJlbHNQSwUGAAAAABUAFQCEBQAALTkAAAAA"}},"Get_files_(properties_only)":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"f03156f3-7ef5-40fa-93c9-c3885bf78e0f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Document Library ID')","folderPath":"/SOPDocumentLibrary","viewScopeOption":"Default","$filter":"FileLeafRef eq '@{string('ExportTrainingOverview.xlsx')}'","$top":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition":{"actions":{"Get_file_metadata_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"06ccb74a-7440-42d2-aea7-d6ad63bd8ba4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_3']","path":"/SOPDocumentLibrary/ExportTrainingOverview.xlsx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint_Delete_File":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"81d85ac8-69d6-4e28-95c5-6e031565e341"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_3']","parameters/method":"POST","parameters/uri":"_api/web/Lists/GetByTitle('SOPDocumentLibrary')/GetItemById(@{outputs('Get_file_metadata_using_path')?['body/ItemId']})/recycle","parameters/headers":{"Prefer":"bypass-shared-lock"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_files_(properties_only)":["Succeeded"]},"expression":{"greater":["@length(outputs('Get_files_(properties_only)')?['body/value'])",0]},"metadata":{"operationMetadataId":"358cda21-65d2-45b8-9069-383b52d81764"},"type":"If"},"Create_file":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"28390c6f-ce2e-43ae-b3f1-9d6c61de1172"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"@triggerBody()['text_3']","folderPath":"/SOPDocumentLibrary","name":"ExportTrainingOverview.xlsx","body":"@outputs('Compose_Empty_Excel_File')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_table_Pending_Trainings":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"04b73d56-3b79-4ef8-99cf-73943eea866c","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table/Range":"'Pending Trainings'!A1:G1","table/TableName":"dame5","table/ColumnsNames":"User Name,Super Group,Functional Group,Sop Name,Version,Due Date,Training Type"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_Pending_Rows":{"foreach":"@variables('Pending Trainings')","actions":{"Set_variable_Functional_Groups":{"runAfter":{"Get_items_from_SOPRoleInstances_by_SOPName":["Succeeded"]},"metadata":{"operationMetadataId":"efa2b49e-d47d-499e-8331-4ef635a0d195"},"type":"SetVariable","inputs":{"name":"Functional Groups","value":"@{null}"}},"Set_variable_Super_Groups":{"runAfter":{"Set_variable_Functional_Groups":["Succeeded"]},"metadata":{"operationMetadataId":"9d876007-9830-4e7c-ac60-9c92f212038b"},"type":"SetVariable","inputs":{"name":"Super Groups","value":"@{null}"}},"Apply_to_each_SOPRoleInstances":{"foreach":"@outputs('Get_items_from_SOPRoleInstances_by_SOPName')?['body/value']","actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"a5d7e02b-eb6e-4b0f-8c88-80d9f31d3123"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Definitions ID')","id":"@items('Apply_to_each_SOPRoleInstances')?['SOP_x0020_Role_x0020_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_if_group_is_functional_or_super":{"actions":{"Append_to_Functional_Group_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"3db5f08a-962f-4521-a4ba-9c73957f7301"},"type":"AppendToStringVariable","inputs":{"name":"Functional Groups","value":"@{outputs('Get_item')?['body/SOP_x0020_Role_x0020_Name']};"}}},"runAfter":{"Get_item":["Succeeded"]},"else":{"actions":{"Append_to_Super_Group_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"ce208261-54d7-4d88-bf19-520e2d4e83ff"},"type":"AppendToStringVariable","inputs":{"name":"Super Groups","value":"@{outputs('Get_item')?['body/SOP_x0020_Role_x0020_Name']};"}}}},"expression":{"equals":["@outputs('Get_item')?['body/SOP_x0020_Role_x0020_Type']",0]},"metadata":{"operationMetadataId":"0cf6566b-daee-4923-a746-f769aecb10b3"},"type":"If"}},"runAfter":{"Set_variable_Super_Groups":["Succeeded"]},"metadata":{"operationMetadataId":"b7e7a761-3ca0-4d6d-b8bb-54055cc938e9"},"type":"Foreach"},"Add_a_row_into_a_table":{"runAfter":{"Apply_to_each_SOPRoleInstances":["Succeeded"]},"metadata":{"operationMetadataId":"cc68deb1-8ff3-4086-80bf-1ca7476ff6f5","tableId":"@outputs('Create_table_Pending_Trainings')?['body/name']"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table":"@outputs('Create_table_Pending_Trainings')?['body/name']","item":{"User Name":"@{items('Apply_to_each_Pending_Rows')?['UserName']}","Super Group":"@{variables('Super Groups')}","Functional Group":"@{variables('Functional Groups')}","Sop Name":"@{items('Apply_to_each_Pending_Rows')?['SOPName']}","Version":"@{items('Apply_to_each_Pending_Rows')?['SOPVersion']}","Due Date":"@{items('Apply_to_each_Pending_Rows')?['DueDate']}","Training Type":"@{if(equals(items('Apply_to_each_Pending_Rows')?['TrainingType'],1),'Quiz','Read & Understand')}"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_items_from_SOPRoleInstances_by_SOPName":{"runAfter":{},"metadata":{"operationMetadataId":"2889d421-77a5-49fa-bcd5-3cef0684f065"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('SOP RoleInstances ID')","$filter":"(SOPName eq '@{items('Apply_to_each_Pending_Rows')?['SOPName']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"varRoleDefinitionsID":["Succeeded"]},"metadata":{"operationMetadataId":"044a5bcb-109b-4e35-a821-e70f0c5419a1"},"type":"Foreach"},"Functional_Groups":{"runAfter":{"Completed_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"0f0c74ad-ec09-48b5-8784-0eb068a057a4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Functional Groups","type":"string"}]}},"Super_Groups":{"runAfter":{"Functional_Groups":["Succeeded"]},"metadata":{"operationMetadataId":"adc4a992-a17d-4ab5-a607-ed5b7a27c837"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Super Groups","type":"string"}]}},"Create_table_Overdue_Trainings":{"runAfter":{"Apply_to_each_Pending_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"2c1e0803-fb9e-47c5-81eb-d55adcd02a0b","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table/Range":"'Overdue Trainings'!A1:G1","table/TableName":"dame7","table/ColumnsNames":"User Name,Super Group,Functional Group,Sop Name,Version,Due Date,Training Type"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_Overdue_Rows":{"foreach":"@variables('Overdue Trainings')","actions":{"Get_items_from_SOPRoleInstances_by_SOPName_Overdue":{"runAfter":{},"metadata":{"operationMetadataId":"77553ecd-858f-44b9-927c-97f61876e6d0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('SOP RoleInstances ID')","viewScopeOption":"RecursiveAll","$filter":"(SOPName eq '@{items('Apply_to_each_Overdue_Rows')?['SOPName']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_Functional_Groups_Overdue":{"runAfter":{"Get_items_from_SOPRoleInstances_by_SOPName_Overdue":["Succeeded"]},"metadata":{"operationMetadataId":"9c206702-1dfe-42ae-b74f-6526d63ad1fe"},"type":"SetVariable","inputs":{"name":"Functional Groups","value":"@{null}"}},"Set_variable_Super_Groups_Overdue":{"runAfter":{"Set_variable_Functional_Groups_Overdue":["Succeeded"]},"metadata":{"operationMetadataId":"533e9ad7-42e4-4ff2-bcb5-539affb482d8"},"type":"SetVariable","inputs":{"name":"Super Groups","value":"@{null}"}},"Apply_to_each_SOPRoleInstances_Overdue":{"foreach":"@outputs('Get_items_from_SOPRoleInstances_by_SOPName_Overdue')?['body/value']","actions":{"Get_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"528950b9-66db-4e02-8971-f6dd144f8780"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Definitions ID')","id":"@items('Apply_to_each_SOPRoleInstances_Overdue')?['SOP_x0020_Role_x0020_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_2":{"actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"e5558bd4-124c-4546-af94-06959a52660d"},"type":"AppendToStringVariable","inputs":{"name":"Functional Groups","value":"@{outputs('Get_item_2')?['body/SOP_x0020_Role_x0020_Name']};"}}},"runAfter":{"Get_item_2":["Succeeded"]},"else":{"actions":{"Append_to_string_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"9ad3543d-aa25-49c0-8b2d-081c8ac820f6"},"type":"AppendToStringVariable","inputs":{"name":"Super Groups","value":"@{outputs('Get_item_2')?['body/SOP_x0020_Role_x0020_Name']};"}}}},"expression":{"equals":["@outputs('Get_item_2')?['body/SOP_x0020_Role_x0020_Type']",0]},"metadata":{"operationMetadataId":"1db240ab-3091-4dd6-848c-cb4302f0681c"},"type":"If"}},"runAfter":{"Set_variable_Super_Groups_Overdue":["Succeeded"]},"metadata":{"operationMetadataId":"fa72b96b-541f-4069-8d73-508b1558c46c"},"type":"Foreach"},"Add_a_row_into_a_table_2":{"runAfter":{"Apply_to_each_SOPRoleInstances_Overdue":["Succeeded"]},"metadata":{"operationMetadataId":"9963a7f7-9376-40a7-a4d9-0b0459301b70","tableId":"@outputs('Create_table_Overdue_Trainings')?['body/name']"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"@triggerBody()['text_3']","drive":"b!De8sIIFC10yy_Q12OgAuLPq8tKA1pAdAnW24qto_rw7r74J9oWJjSa33m0k2pudS","file":"@outputs('Create_file')?['body/Name']","table":"@outputs('Create_table_Overdue_Trainings')?['body/name']","item":{"User Name":"@{items('Apply_to_each_Overdue_Rows')?['UserName']}","Super Group":"@{variables('Super Groups')}","Functional Group":"@{variables('Functional Groups')}","Sop Name":"@{items('Apply_to_each_Overdue_Rows')?['SOPName']}","Version":"@{items('Apply_to_each_Overdue_Rows')?['Version']}","Due Date":"@{items('Apply_to_each_Overdue_Rows')?['DueDate']}","Training Type":"@{if(equals(items('Apply_to_each_Overdue_Rows')?['TrainingType'],1),'Quiz','Read & Understand')}"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Create_table_Overdue_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"70e80757-652f-445a-9936-8aa06552e28a"},"type":"Foreach"},"Create_table_Completed_Trainings":{"runAfter":{"Apply_to_each_Overdue_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"310a604c-8246-484c-8ebc-82e85dac6407","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table/Range":"'Completed Trainings'!A1:H1","table/TableName":"dame","table/ColumnsNames":"User Name,Super Group,Functional Group,Sop Name,Version,Completed Date,Training Type,Score"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_Completed_Rows":{"foreach":"@variables('Completed Trainings')","actions":{"Get_items_from_SOPRoleInstances_by_SOPName_Completed":{"runAfter":{},"metadata":{"operationMetadataId":"426e8bcd-2828-482e-8c8a-9d531fd44e47"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('SOP RoleInstances ID')","$filter":"(SOPName eq '@{items('Apply_to_each_Completed_Rows')?['SOPName']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_Super":{"runAfter":{"Get_items_from_SOPRoleInstances_by_SOPName_Completed":["Succeeded"]},"metadata":{"operationMetadataId":"b8870b04-0ae8-48cf-a137-5921b75fe683"},"type":"SetVariable","inputs":{"name":"Super Groups","value":"@{null}"}},"Set_variable__Functional":{"runAfter":{"Set_variable_Super":["Succeeded"]},"metadata":{"operationMetadataId":"6abb1edb-f833-4bd1-b9e1-154389cb18ab"},"type":"SetVariable","inputs":{"name":"Functional Groups","value":"@{null}"}},"Apply_to_each_SOPRoleInstances_Completed":{"foreach":"@outputs('Get_items_from_SOPRoleInstances_by_SOPName_Completed')?['body/value']","actions":{"Get_item_3":{"runAfter":{},"metadata":{"operationMetadataId":"44523edb-6486-410e-8e14-c624eeeb2033"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Definitions ID')","id":"@items('Apply_to_each_SOPRoleInstances_Completed')?['SOP_x0020_Role_x0020_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_3":{"actions":{"Append_to_string_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"b4400669-4a77-4095-beb0-2ece45e9a5fd"},"type":"AppendToStringVariable","inputs":{"name":"Functional Groups","value":"@{outputs('Get_item_3')?['body/SOP_x0020_Role_x0020_Name']};"}}},"runAfter":{"Get_item_3":["Succeeded"]},"else":{"actions":{"Append_to_string_variable_4":{"runAfter":{},"metadata":{"operationMetadataId":"34906fe7-737c-4d44-abca-b9b333097f08"},"type":"AppendToStringVariable","inputs":{"name":"Super Groups","value":"@{outputs('Get_item_3')?['body/SOP_x0020_Role_x0020_Name']};"}}}},"expression":{"equals":["@outputs('Get_item_3')?['body/SOP_x0020_Role_x0020_Type']",0]},"metadata":{"operationMetadataId":"96d2e725-ed68-4979-a702-87e8ae2a8959"},"type":"If"}},"runAfter":{"Set_variable__Functional":["Succeeded"]},"metadata":{"operationMetadataId":"ca87d54b-9929-4695-b5d7-590efdeb3912"},"type":"Foreach"},"Add_a_row_into_a_table_3":{"runAfter":{"Apply_to_each_SOPRoleInstances_Completed":["Succeeded"]},"metadata":{"operationMetadataId":"f41ba66a-2740-4f7b-867c-72f075073093","tableId":"@outputs('Create_table_Completed_Trainings')?['body/name']"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"parameters":{"source":"sites/further.sharepoint.com,202cef0d-4281-4cd7-b2fd-0d763a002e2c,a0b4bcfa-a435-4007-9d6d-b8aada3faf0e","drive":"b!De8sIIFC10yy_Q12OgAuLPq8tKA1pAdAnW24qto_rw7r74J9oWJjSa33m0k2pudS","file":"@outputs('Create_file')?['body/Name']","table":"@outputs('Create_table_Completed_Trainings')?['body/name']","item":{"User Name":"@{items('Apply_to_each_Completed_Rows')?['UserName']}","Super Group":"@{variables('Super Groups')}","Functional Group":"@{variables('Functional Groups')}","Sop Name":"@{items('Apply_to_each_Completed_Rows')?['SOPName']}","Version":"@{items('Apply_to_each_Completed_Rows')?['SOPVersion']}","Completed Date":"@{items('Apply_to_each_Completed_Rows')?['CompleteDate']}","Training Type":"@{if(equals(items('Apply_to_each_Completed_Rows')?['TrainingType'],1),'Quiz','Read & Understand')}","Score":"@{items('Apply_to_each_Completed_Rows')?['Score']}"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Create_table_Completed_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"c4f755ba-8a7e-43a0-9ca7-480f4341bcd5"},"type":"Foreach"},"Export_Pending_Trainings":{"runAfter":{"Super_Groups":["Succeeded"]},"metadata":{"operationMetadataId":"c3809dcd-afb2-42c8-ac1f-a0bba3a02c99"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExportPendingTrainings","type":"array"}]}},"Condition_If_having_Pending_Rows":{"actions":{"Apply_to_each_Pending_Training_Rows":{"foreach":"@variables('Pending Trainings')","actions":{"Get_items_SOPRoleUsers_by_UserEmail":{"runAfter":{},"metadata":{"operationMetadataId":"e7e50597-61de-4d2d-bac3-4408e533d3f2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Users ID')","$filter":"(SOP_x0020_Role_x0020_Assigned_x0/EMail eq '@{items('Apply_to_each_Pending_Training_Rows')['UserEmail']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_SOPRoleUsers_by_UserEmail":{"foreach":"@outputs('Get_items_SOPRoleUsers_by_UserEmail')?['body/value']","actions":{"Get_item_SOPRoleDefinition_by_SOPRoleId":{"runAfter":{},"metadata":{"operationMetadataId":"505d3f37-2d75-4772-909b-dd7a8cfc8f1b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Definitions ID')","id":"@items('Apply_to_each_SOPRoleUsers_by_UserEmail')?['SOP_x0020_Role_x0020_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_If_SOPRoleDefinition_is_SuperGroup":{"actions":{"Condition_If_ExportPendingTrainings_is_not_Empty":{"actions":{"Filter_array_to_find_If_Super_Group_exist_in_array":{"runAfter":{},"metadata":{"operationMetadataId":"c09a93d5-6e25-4570-9238-55665c6f9149"},"type":"Query","inputs":{"from":"@variables('ExportPendingTrainings')","where":"@equals(item()?['Super Group'], outputs('Get_item_SOPRoleDefinition_by_SOPRoleId')?['body/SOP_x0020_Role_x0020_Name'])"}},"Condition_If_Filter_array_is_not_empty":{"actions":{"Compose_to_see_output_results_from_Select":{"runAfter":{"Append_to_array_variable_ExportPendingTrainings":["Succeeded"]},"metadata":{"operationMetadataId":"f4b924f2-585f-498c-820e-c6848edcfb7f"},"type":"Compose","inputs":"@body('Select_item_from_ExportPendingTrainings_array')"},"Filter_array_to_get_items_without_selected":{"runAfter":{"Select_item_from_ExportPendingTrainings_array":["Succeeded"]},"metadata":{"operationMetadataId":"b0e0a362-5875-4201-b7fb-2b4f839b11fe"},"type":"Query","inputs":{"from":"@variables('ExportPendingTrainings')","where":"@not(equals(item()?['Super Group'], outputs('Get_item_SOPRoleDefinition_by_SOPRoleId')?['body/SOP_x0020_Role_x0020_Name']))"}},"Set_variable_ExportPendingTrainings_with_the_Filtered_array":{"runAfter":{"Filter_array_to_get_items_without_selected":["Succeeded"]},"metadata":{"operationMetadataId":"9dec48df-8a8a-4603-8af1-29bc3506b2f8"},"type":"SetVariable","inputs":{"name":"ExportPendingTrainings","value":"@body('Filter_array_to_get_items_without_selected')"}},"Append_to_array_variable_ExportPendingTrainings":{"runAfter":{"Set_variable_ExportPendingTrainings_with_the_Filtered_array":["Succeeded"]},"metadata":{"operationMetadataId":"0c34469c-84dd-4a32-94cd-e4b6f982ceb6"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":"@body('Select_item_from_ExportPendingTrainings_array')[0]"}},"Select_item_from_ExportPendingTrainings_array":{"runAfter":{},"metadata":{"operationMetadataId":"ac5a744f-f105-4c03-bd1e-a69603f2d7cd"},"type":"Select","inputs":{"from":"@body('Filter_array_to_find_If_Super_Group_exist_in_array')","select":{"Sop Name":"@body('Filter_array_to_find_If_Super_Group_exist_in_array')[0]?['Sop Name']","Version":"@body('Filter_array_to_find_If_Super_Group_exist_in_array')[0]?['Version']","Super Group":"@body('Filter_array_to_find_If_Super_Group_exist_in_array')[0]?['Super Group']","Count":"@add(int(body('Filter_array_to_find_If_Super_Group_exist_in_array')[0]?['Count']), int(1))"}}}},"runAfter":{"Filter_array_to_find_If_Super_Group_exist_in_array":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_ExportPendingTrainings_first":{"runAfter":{},"metadata":{"operationMetadataId":"4da6e2ee-2e9d-4a30-9f92-aea9aaa6f391"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId')?['body/SOP_x0020_Role_x0020_Name']","Count":1}}}}},"expression":{"greater":["@length(body('Filter_array_to_find_If_Super_Group_exist_in_array'))",0]},"metadata":{"operationMetadataId":"b0afccac-3ab0-4297-bee6-8c4e8139e9fe"},"type":"If"}},"runAfter":{},"else":{"actions":{"Append_to_array_variable_ExportPendingTrainings_false":{"runAfter":{},"metadata":{"operationMetadataId":"a7902d7c-a87e-451d-8825-b94e44f18c01"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId')?['body/SOP_x0020_Role_x0020_Name']","Count":1}}}}},"expression":{"greater":["@length(variables('ExportPendingTrainings'))",0]},"metadata":{"operationMetadataId":"cafc01c6-c7cd-4678-a853-c93fecc706d5"},"type":"If"}},"runAfter":{"Get_item_SOPRoleDefinition_by_SOPRoleId":["Succeeded"]},"else":{"actions":{"Filter_array_to_find_If_Super_Group_exist_in_array_Functional":{"runAfter":{},"metadata":{"operationMetadataId":"c09a93d5-6e25-4570-9238-55665c6f9149"},"type":"Query","inputs":{"from":"@variables('ExportPendingTrainings')","where":"@equals(item()?['Super Group'], string(''))"}},"Condition_If_Filter_array_2_is_not_empty":{"actions":{"Select_item_from_ExportPendingTrainings_array_Functional":{"runAfter":{},"metadata":{"operationMetadataId":"ac5a744f-f105-4c03-bd1e-a69603f2d7cd"},"type":"Select","inputs":{"from":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional')","select":{"Sop Name":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional')[0]?['Sop Name']","Version":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional')[0]?['Version']","Super Group":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional')[0]?['Super Group']","Count":"@add(int(body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional')[0]?['Count']), int(1))"}}},"Filter_array_to_get_items_without_selected_4":{"runAfter":{"Select_item_from_ExportPendingTrainings_array_Functional":["Succeeded"]},"metadata":{"operationMetadataId":"b0e0a362-5875-4201-b7fb-2b4f839b11fe"},"type":"Query","inputs":{"from":"@variables('ExportPendingTrainings')","where":"@not(equals(item()?['Super Group'], string('')))"}},"Set_variable_ExportPendingTrainings_with_the_Filtered_array_1":{"runAfter":{"Filter_array_to_get_items_without_selected_4":["Succeeded"]},"metadata":{"operationMetadataId":"0834c062-6b47-4041-b253-9131b542b079"},"type":"SetVariable","inputs":{"name":"ExportPendingTrainings","value":"@body('Filter_array_to_get_items_without_selected_4')"}},"Append_to_array_variable_ExportPendingTrainings_1":{"runAfter":{"Set_variable_ExportPendingTrainings_with_the_Filtered_array_1":["Succeeded"]},"metadata":{"operationMetadataId":"d0adb8d9-57e5-4c8f-99b0-a1bb133e0fd9"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":"@body('Select_item_from_ExportPendingTrainings_array_Functional')[0]"}}},"runAfter":{"Filter_array_to_find_If_Super_Group_exist_in_array_Functional":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_ExportPendingTrainings_Functional_first":{"runAfter":{},"metadata":{"operationMetadataId":"3d868174-99d9-4116-93a8-eb1f741aac93"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"","Count":1}}}}},"expression":{"greater":["@length(body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional'))",0]},"metadata":{"operationMetadataId":"64736aeb-b5e7-4258-80be-3bb7966ca38d"},"type":"If"}}},"expression":{"equals":["@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId')?['body/SOP_x0020_Role_x0020_Type']",1]},"metadata":{"operationMetadataId":"243e54cd-8993-4656-aef2-d88b4f972ee4"},"type":"If"}},"runAfter":{"Get_items_SOPRoleUsers_by_UserEmail":["Succeeded"]},"metadata":{"operationMetadataId":"9493a314-4dcd-45b9-bac3-70baac1ecd42"},"type":"Foreach"}},"runAfter":{},"metadata":{"operationMetadataId":"94d802f1-a70d-4abf-ac92-e3bece1160ca"},"type":"Foreach"},"Apply_to_each_Export_Pending_Trainings_array":{"foreach":"@variables('ExportPendingTrainings')","actions":{"Add_a_row_into_a_table_Pending_Trainings_with_Count":{"runAfter":{},"metadata":{"operationMetadataId":"f9743772-3d41-4d14-9c24-bf0896da7d38","tableId":"@outputs('Create_table_Pending_Trainings_with_Count')?['body/name']"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"AddRowV2"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table":"@outputs('Create_table_Pending_Trainings_with_Count')?['body/name']","item":{"Sop Name":"@items('Apply_to_each_Export_Pending_Trainings_array')?['Sop Name']","Version":"@items('Apply_to_each_Export_Pending_Trainings_array')?['Version']","Super Group":"@items('Apply_to_each_Export_Pending_Trainings_array')?['Super Group']","Count":"@items('Apply_to_each_Export_Pending_Trainings_array')?['Count']"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Apply_to_each_Pending_Training_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"36c0fc47-d92c-455e-96e3-614d69185462"},"type":"Foreach"}},"runAfter":{"varSOPRoleUsersID":["Succeeded"]},"expression":{"greater":["@length(variables('Pending Trainings'))",0]},"metadata":{"operationMetadataId":"54815209-b6db-4ecd-926d-4fcd05513c7a"},"type":"If"},"Count":{"runAfter":{"Export_Completed_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"e4f623ef-862e-4378-a9f7-5cf119ad168a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Count","type":"integer","value":0}]}},"Create_table_Pending_Trainings_with_Count":{"runAfter":{"Apply_to_each_Completed_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"3d38b17e-c9d6-4f59-927b-83e49b617aec","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table/Range":"'Pending Trainings'!A@{add(length(variables('Pending Trainings')),Int(3))}:D@{add(length(variables('Pending Trainings')),Int(3))}","table/TableName":"bobi5","table/ColumnsNames":"Sop Name,Version,Super Group,Count"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_table_Overdue_Trainings_with_Count":{"runAfter":{"Create_table_Pending_Trainings_with_Count":["Succeeded"]},"metadata":{"operationMetadataId":"a541a7cd-b1c4-4493-b32a-9f54c4ca6213","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table/Range":"'Overdue Trainings'!A@{add(length(variables('Overdue Trainings')),Int(3))}:D@{add(length(variables('Overdue Trainings')),Int(3))}","table/TableName":"bobi8","table/ColumnsNames":"Sop Name,Version,Super Group,Count"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_table_Completed_Trainings_with_Count":{"runAfter":{"Create_table_Overdue_Trainings_with_Count":["Succeeded"]},"metadata":{"operationMetadataId":"af6c7f8c-4da6-41ed-b75b-e00bce9b34e3","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"CreateTable"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table/Range":"'Completed Trainings'!A@{add(length(variables('Completed Trainings')),Int(3))}:D@{add(length(variables('Completed Trainings')),Int(3))}","table/TableName":"bobi9","table/ColumnsNames":"Sop Name,Version,Super Group,Count"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Temp_Count_Functional":{"runAfter":{"Count":["Succeeded"]},"metadata":{"operationMetadataId":"fcc5170d-3b71-4dec-9f7c-460b31011033"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TempCountFunctional","type":"integer","value":0}]}},"Export_Overdue_Trainings":{"runAfter":{"Export_Pending_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"7dfc503b-88b6-46bd-af90-0d658740ee6e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExportOverdueTrainings","type":"array"}]}},"Export_Completed_Trainings":{"runAfter":{"Export_Overdue_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"dedb0969-bece-4a57-b400-02a1c6cfe738"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ExportCompletedTrainings","type":"array"}]}},"Condition_If_having_Overdue_Rows":{"actions":{"Apply_to_each_Overdue_Training_Rows":{"foreach":"@variables('Overdue Trainings')","actions":{"Get_items_SOPRoleUsers_by_UserEmail_2":{"runAfter":{},"metadata":{"operationMetadataId":"e7e50597-61de-4d2d-bac3-4408e533d3f2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Users ID')","$filter":"(SOP_x0020_Role_x0020_Assigned_x0/EMail eq '@{items('Apply_to_each_Overdue_Training_Rows')['UserEmail']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_SOPRoleUsers_by_UserEmail_2":{"foreach":"@outputs('Get_items_SOPRoleUsers_by_UserEmail_2')?['body/value']","actions":{"Get_item_SOPRoleDefinition_by_SOPRoleId_2":{"runAfter":{},"metadata":{"operationMetadataId":"505d3f37-2d75-4772-909b-dd7a8cfc8f1b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Definitions ID')","id":"@items('Apply_to_each_SOPRoleUsers_by_UserEmail_2')?['SOP_x0020_Role_x0020_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_If_SOPRoleDefinition_is_SuperGroup_2":{"actions":{"Condition_If_ExportOverdueTrainings_is_not_Empty":{"actions":{"Filter_array_to_find_If_Super_Group_exist_in_array_2":{"runAfter":{},"metadata":{"operationMetadataId":"c09a93d5-6e25-4570-9238-55665c6f9149"},"type":"Query","inputs":{"from":"@variables('ExportOverdueTrainings')","where":"@equals(item()?['Super Group'], outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_2')?['body/SOP_x0020_Role_x0020_Name'])"}},"Condition_If_Filter_array_is_not_empty_2":{"actions":{"Compose_to_see_output_results_from_Select_2":{"runAfter":{"Append_to_array_variable_ExportOverdueTrainings":["Succeeded"]},"metadata":{"operationMetadataId":"f4b924f2-585f-498c-820e-c6848edcfb7f"},"type":"Compose","inputs":"@body('Select_item_from_ExportOverdueTrainings_array')"},"Filter_array_to_get_items_without_selected_2":{"runAfter":{"Select_item_from_ExportOverdueTrainings_array":["Succeeded"]},"metadata":{"operationMetadataId":"b0e0a362-5875-4201-b7fb-2b4f839b11fe"},"type":"Query","inputs":{"from":"@variables('ExportOverdueTrainings')","where":"@not(equals(item()?['Super Group'], outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_2')?['body/SOP_x0020_Role_x0020_Name']))"}},"Set_variable_ExportOverdueTrainings_with_the_Filtered_array":{"runAfter":{"Filter_array_to_get_items_without_selected_2":["Succeeded"]},"metadata":{"operationMetadataId":"9dec48df-8a8a-4603-8af1-29bc3506b2f8"},"type":"SetVariable","inputs":{"name":"ExportOverdueTrainings","value":"@body('Filter_array_to_get_items_without_selected_2')"}},"Append_to_array_variable_ExportOverdueTrainings":{"runAfter":{"Set_variable_ExportOverdueTrainings_with_the_Filtered_array":["Succeeded"]},"metadata":{"operationMetadataId":"0c34469c-84dd-4a32-94cd-e4b6f982ceb6"},"type":"AppendToArrayVariable","inputs":{"name":"ExportOverdueTrainings","value":"@body('Select_item_from_ExportOverdueTrainings_array')[0]"}},"Select_item_from_ExportOverdueTrainings_array":{"runAfter":{},"metadata":{"operationMetadataId":"ac5a744f-f105-4c03-bd1e-a69603f2d7cd"},"type":"Select","inputs":{"from":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_2')","select":{"Sop Name":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_2')[0]?['Sop Name']","Version":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_2')[0]?['Version']","Super Group":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_2')[0]?['Super Group']","Count":"@add(int(body('Filter_array_to_find_If_Super_Group_exist_in_array_2')[0]?['Count']), int(1))"}}}},"runAfter":{"Filter_array_to_find_If_Super_Group_exist_in_array_2":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_ExportOverdueTrainings_first":{"runAfter":{},"metadata":{"operationMetadataId":"4da6e2ee-2e9d-4a30-9f92-aea9aaa6f391"},"type":"AppendToArrayVariable","inputs":{"name":"ExportOverdueTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_2')?['body/SOP_x0020_Role_x0020_Name']","Count":1}}}}},"expression":{"greater":["@length(body('Filter_array_to_find_If_Super_Group_exist_in_array_2'))",0]},"metadata":{"operationMetadataId":"b0afccac-3ab0-4297-bee6-8c4e8139e9fe"},"type":"If"}},"runAfter":{},"else":{"actions":{"Append_to_array_variable_ExportOverdueTrainings_false":{"runAfter":{},"metadata":{"operationMetadataId":"a7902d7c-a87e-451d-8825-b94e44f18c01"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_2')?['body/SOP_x0020_Role_x0020_Name']","Count":1}}}}},"expression":{"greater":["@length(variables('ExportOverdueTrainings'))",0]},"metadata":{"operationMetadataId":"cafc01c6-c7cd-4678-a853-c93fecc706d5"},"type":"If"}},"runAfter":{"Get_item_SOPRoleDefinition_by_SOPRoleId_2":["Succeeded"]},"else":{"actions":{"Filter_array_to_find_If_Super_Group_exist_in_array_Functional_2":{"runAfter":{},"metadata":{"operationMetadataId":"c09a93d5-6e25-4570-9238-55665c6f9149"},"type":"Query","inputs":{"from":"@variables('ExportOverdueTrainings')","where":"@equals(item()?['Super Group'], string())"}},"Condition_If_Filter_array_2_is_not_empty_2":{"actions":{"Select_item_from_ExportOverdueTrainings_array_Functional":{"runAfter":{},"metadata":{"operationMetadataId":"ac5a744f-f105-4c03-bd1e-a69603f2d7cd"},"type":"Select","inputs":{"from":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_2')","select":{"Sop Name":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_2')[0]?['Sop Name']","Version":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_2')[0]?['Version']","Super Group":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_2')[0]?['Super Group']","Count":"@add(int(body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_2')[0]?['Count']), int(1))"}}},"Filter_array_to_get_items_without_selected_5":{"runAfter":{"Select_item_from_ExportOverdueTrainings_array_Functional":["Succeeded"]},"metadata":{"operationMetadataId":"b0e0a362-5875-4201-b7fb-2b4f839b11fe"},"type":"Query","inputs":{"from":"@variables('ExportOverdueTrainings')","where":"@not(equals(item()?['Super Group'], string()))"}},"Set_variable_ExportOverdueTrainings_with_the_Filtered_array_1":{"runAfter":{"Filter_array_to_get_items_without_selected_5":["Succeeded"]},"metadata":{"operationMetadataId":"e78027a7-2d5a-4926-938d-fc0ccf66c6dd"},"type":"SetVariable","inputs":{"name":"ExportOverdueTrainings","value":"@body('Filter_array_to_get_items_without_selected_5')"}},"Append_to_array_variable_ExportOverdueTrainings_1":{"runAfter":{"Set_variable_ExportOverdueTrainings_with_the_Filtered_array_1":["Succeeded"]},"metadata":{"operationMetadataId":"be4a59c1-7f13-4fb5-9318-63498698ba02"},"type":"AppendToArrayVariable","inputs":{"name":"ExportOverdueTrainings","value":"@body('Select_item_from_ExportOverdueTrainings_array_Functional')[0]"}}},"runAfter":{"Filter_array_to_find_If_Super_Group_exist_in_array_Functional_2":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_ExportOverdueTrainings_Functional_first":{"runAfter":{},"metadata":{"operationMetadataId":"3d868174-99d9-4116-93a8-eb1f741aac93"},"type":"AppendToArrayVariable","inputs":{"name":"ExportOverdueTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"","Count":1}}}}},"expression":{"greater":["@length(body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_2'))",0]},"metadata":{"operationMetadataId":"64736aeb-b5e7-4258-80be-3bb7966ca38d"},"type":"If"}}},"expression":{"equals":["@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_2')?['body/SOP_x0020_Role_x0020_Type']",1]},"metadata":{"operationMetadataId":"243e54cd-8993-4656-aef2-d88b4f972ee4"},"type":"If"}},"runAfter":{"Get_items_SOPRoleUsers_by_UserEmail_2":["Succeeded"]},"metadata":{"operationMetadataId":"9493a314-4dcd-45b9-bac3-70baac1ecd42"},"type":"Foreach"}},"runAfter":{},"metadata":{"operationMetadataId":"94d802f1-a70d-4abf-ac92-e3bece1160ca"},"type":"Foreach"},"Apply_to_each_Export_Overdue_Trainings_array":{"foreach":"@variables('ExportOverdueTrainings')","actions":{"Add_a_row_into_a_table_Overdue_Trainings_with_Count":{"runAfter":{},"metadata":{"operationMetadataId":"f9743772-3d41-4d14-9c24-bf0896da7d38","tableId":"@outputs('Create_table_Overdue_Trainings_with_Count')?['body/name']"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"AddRowV2"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table":"@outputs('Create_table_Overdue_Trainings_with_Count')?['body/name']","item":{"Sop Name":"@items('Apply_to_each_Export_Overdue_Trainings_array')?['Sop Name']","Version":"@items('Apply_to_each_Export_Overdue_Trainings_array')?['Version']","Super Group":"@items('Apply_to_each_Export_Overdue_Trainings_array')?['Super Group']","Count":"@items('Apply_to_each_Export_Overdue_Trainings_array')?['Count']"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Apply_to_each_Overdue_Training_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"36c0fc47-d92c-455e-96e3-614d69185462"},"type":"Foreach"}},"runAfter":{"Condition_If_having_Pending_Rows":["Succeeded"]},"expression":{"greater":["@length(variables('Overdue Trainings'))",0]},"metadata":{"operationMetadataId":"1b05ff06-c634-443d-b3fa-42fb72b4e48c"},"type":"If"},"Condition_If_having_Completed_Rows":{"actions":{"Apply_to_each_Completed_Training_Rows":{"foreach":"@variables('ExportCompletedTrainings')","actions":{"Get_items_SOPRoleUsers_by_UserEmail_3":{"runAfter":{},"metadata":{"operationMetadataId":"e7e50597-61de-4d2d-bac3-4408e533d3f2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Users ID')","$filter":"(SOP_x0020_Role_x0020_Assigned_x0/EMail eq '@{items('Apply_to_each_Completed_Training_Rows')?['UserEmail']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_SOPRoleUsers_by_UserEmail_3":{"foreach":"@outputs('Get_items_SOPRoleUsers_by_UserEmail_3')?['body/value']","actions":{"Get_item_SOPRoleDefinition_by_SOPRoleId_3":{"runAfter":{},"metadata":{"operationMetadataId":"505d3f37-2d75-4772-909b-dd7a8cfc8f1b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"parameters":{"dataset":"@triggerBody()['text_3']","table":"@variables('Role Definitions ID')","id":"@items('Apply_to_each_SOPRoleUsers_by_UserEmail_3')?['SOP_x0020_Role_x0020_Id']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_If_SOPRoleDefinition_is_SuperGroup_3":{"actions":{"Condition_If_ExportCompletedTrainings_is_not_Empty":{"actions":{"Filter_array_to_find_If_Super_Group_exist_in_array_3":{"runAfter":{},"metadata":{"operationMetadataId":"c09a93d5-6e25-4570-9238-55665c6f9149"},"type":"Query","inputs":{"from":"@variables('ExportCompletedTrainings')","where":"@equals(item()?['Super Group'], outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_3')?['body/SOP_x0020_Role_x0020_Name'])"}},"Condition_If_Filter_array_is_not_empty_3":{"actions":{"Compose_to_see_output_results_from_Select_3":{"runAfter":{"Append_to_array_variable_ExportCompletedTrainings":["Succeeded"]},"metadata":{"operationMetadataId":"f4b924f2-585f-498c-820e-c6848edcfb7f"},"type":"Compose","inputs":"@body('Select_item_from_ExportCompletedTrainings_array')"},"Filter_array_to_get_items_without_selected_3":{"runAfter":{"Select_item_from_ExportCompletedTrainings_array":["Succeeded"]},"metadata":{"operationMetadataId":"b0e0a362-5875-4201-b7fb-2b4f839b11fe"},"type":"Query","inputs":{"from":"@variables('ExportCompletedTrainings')","where":"@not(equals(item()?['Super Group'], outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_3')?['body/SOP_x0020_Role_x0020_Name']))"}},"Set_variable_ExportCompletedTrainings_with_the_Filtered_array":{"runAfter":{"Filter_array_to_get_items_without_selected_3":["Succeeded"]},"metadata":{"operationMetadataId":"9dec48df-8a8a-4603-8af1-29bc3506b2f8"},"type":"SetVariable","inputs":{"name":"ExportCompletedTrainings","value":"@body('Filter_array_to_get_items_without_selected_3')"}},"Append_to_array_variable_ExportCompletedTrainings":{"runAfter":{"Set_variable_ExportCompletedTrainings_with_the_Filtered_array":["Succeeded"]},"metadata":{"operationMetadataId":"0c34469c-84dd-4a32-94cd-e4b6f982ceb6"},"type":"AppendToArrayVariable","inputs":{"name":"ExportCompletedTrainings","value":"@body('Select_item_from_ExportCompletedTrainings_array')[0]"}},"Select_item_from_ExportCompletedTrainings_array":{"runAfter":{},"metadata":{"operationMetadataId":"ac5a744f-f105-4c03-bd1e-a69603f2d7cd"},"type":"Select","inputs":{"from":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_3')","select":{"Sop Name":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_3')[0]?['Sop Name']","Version":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_3')[0]?['Version']","Super Group":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_3')[0]?['Super Group']","Count":"@add(int(body('Filter_array_to_find_If_Super_Group_exist_in_array_3')[0]?['Count']), int(1))"}}}},"runAfter":{"Filter_array_to_find_If_Super_Group_exist_in_array_3":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_ExportCompletedTrainings_first":{"runAfter":{},"metadata":{"operationMetadataId":"4da6e2ee-2e9d-4a30-9f92-aea9aaa6f391"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_3')?['body/SOP_x0020_Role_x0020_Name']","Count":1}}}}},"expression":{"greater":["@length(body('Filter_array_to_find_If_Super_Group_exist_in_array_3'))",0]},"metadata":{"operationMetadataId":"b0afccac-3ab0-4297-bee6-8c4e8139e9fe"},"type":"If"}},"runAfter":{},"else":{"actions":{"Append_to_array_variable_ExportCompletedTrainings_false":{"runAfter":{},"metadata":{"operationMetadataId":"a7902d7c-a87e-451d-8825-b94e44f18c01"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_3')?['body/SOP_x0020_Role_x0020_Name']","Count":1}}}}},"expression":{"greater":["@length(variables('ExportCompletedTrainings'))",0]},"metadata":{"operationMetadataId":"cafc01c6-c7cd-4678-a853-c93fecc706d5"},"type":"If"}},"runAfter":{"Get_item_SOPRoleDefinition_by_SOPRoleId_3":["Succeeded"]},"else":{"actions":{"Filter_array_to_find_If_Super_Group_exist_in_array_Functional_3":{"runAfter":{},"metadata":{"operationMetadataId":"c09a93d5-6e25-4570-9238-55665c6f9149"},"type":"Query","inputs":{"from":"@variables('ExportCompletedTrainings')","where":"@equals(item()?['Super Group'], string())"}},"Condition_If_Filter_array_2_is_not_empty_3":{"actions":{"Select_item_from_ExportCompletedTrainings_array_Functional":{"runAfter":{},"metadata":{"operationMetadataId":"ac5a744f-f105-4c03-bd1e-a69603f2d7cd"},"type":"Select","inputs":{"from":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_3')","select":{"Sop Name":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_3')[0]?['Sop Name']","Version":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_3')[0]?['Version']","Super Group":"@body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_3')[0]?['Super Group']","Count":"@add(int(body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_3')[0]?['Count']), int(1))"}}},"Filter_array_to_get_items_without_selected_6":{"runAfter":{"Select_item_from_ExportCompletedTrainings_array_Functional":["Succeeded"]},"metadata":{"operationMetadataId":"b0e0a362-5875-4201-b7fb-2b4f839b11fe"},"type":"Query","inputs":{"from":"@variables('ExportCompletedTrainings')","where":"@not(equals(item()?['Super Group'], string()))"}},"Set_variable_ExportCompletedTrainings_with_the_Filtered_array_1":{"runAfter":{"Filter_array_to_get_items_without_selected_6":["Succeeded"]},"metadata":{"operationMetadataId":"38026e3f-3fc4-4c77-9b75-ab4422846a60"},"type":"SetVariable","inputs":{"name":"ExportCompletedTrainings","value":"@body('Filter_array_to_get_items_without_selected_6')"}},"Append_to_array_variable_ExportCompletedTrainings_1":{"runAfter":{"Set_variable_ExportCompletedTrainings_with_the_Filtered_array_1":["Succeeded"]},"metadata":{"operationMetadataId":"a38ccfbd-e5d8-4042-84f1-3ca03182971a"},"type":"AppendToArrayVariable","inputs":{"name":"ExportCompletedTrainings","value":"@body('Select_item_from_ExportCompletedTrainings_array_Functional')[0]"}}},"runAfter":{"Filter_array_to_find_If_Super_Group_exist_in_array_Functional_3":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_ExportCompletedTrainings_Functional_first":{"runAfter":{},"metadata":{"operationMetadataId":"3d868174-99d9-4116-93a8-eb1f741aac93"},"type":"AppendToArrayVariable","inputs":{"name":"ExportPendingTrainings","value":{"Sop Name":"@triggerBody()['text_1']","Version":"@triggerBody()['text_2']","Super Group":"","Count":1}}}}},"expression":{"greater":["@length(body('Filter_array_to_find_If_Super_Group_exist_in_array_Functional_3'))",0]},"metadata":{"operationMetadataId":"64736aeb-b5e7-4258-80be-3bb7966ca38d"},"type":"If"}}},"expression":{"equals":["@outputs('Get_item_SOPRoleDefinition_by_SOPRoleId_3')?['body/SOP_x0020_Role_x0020_Type']",1]},"metadata":{"operationMetadataId":"243e54cd-8993-4656-aef2-d88b4f972ee4"},"type":"If"}},"runAfter":{"Get_items_SOPRoleUsers_by_UserEmail_3":["Succeeded"]},"metadata":{"operationMetadataId":"9493a314-4dcd-45b9-bac3-70baac1ecd42"},"type":"Foreach"}},"runAfter":{},"metadata":{"operationMetadataId":"94d802f1-a70d-4abf-ac92-e3bece1160ca"},"type":"Foreach"},"Apply_to_each_Export_Completed_Trainings_array":{"foreach":"@variables('ExportCompletedTrainings')","actions":{"Add_a_row_into_a_table_Completed_Trainings_with_Count":{"runAfter":{},"metadata":{"operationMetadataId":"f9743772-3d41-4d14-9c24-bf0896da7d38","tableId":"@outputs('Create_table_Completed_Trainings_with_Count')?['body/name']"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness_1","operationId":"AddRowV2"},"parameters":{"source":"sites/cqdsystem.sharepoint.com,9a650016-e9c8-410b-9879-d209f839959b,6e742a0d-8572-41af-972c-7d154ad262a4","drive":"b!FgBlmsjpC0GYedIJ-DmVmw0qdG5yha9Blyx9FUrSYqQZiasACBWkSIoNYLrEiDzY","file":"@outputs('Create_file')?['body/Name']","table":"@outputs('Create_table_Completed_Trainings_with_Count')?['body/name']","item":{"Sop Name":"@items('Apply_to_each_Export_Completed_Trainings_array')?['SOPName']","Version":"@items('Apply_to_each_Export_Completed_Trainings_array')?['Version']","Super Group":"@items('Apply_to_each_Export_Completed_Trainings_array')?['Super Group']","Count":"@items('Apply_to_each_Export_Completed_Trainings_array')?['Count']"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Apply_to_each_Completed_Training_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"36c0fc47-d92c-455e-96e3-614d69185462"},"type":"Foreach"}},"runAfter":{"Condition_If_having_Overdue_Rows":["Succeeded"]},"expression":{"greater":["@length(variables('Completed Trainings'))",0]},"metadata":{"operationMetadataId":"7ce76484-5816-443a-9af9-0d148f88d418"},"type":"If"},"Delay_Time":{"runAfter":{"Condition_If_having_Completed_Rows":["Succeeded"]},"metadata":{"operationMetadataId":"e27330dd-3d86-40e1-962a-e481b8cdd9ae"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DelayTime","type":"string","value":"@{addSeconds(utcNow(), 40)}"}]}},"Delay_until":{"runAfter":{"Delay_Time":["Succeeded"]},"metadata":{"operationMetadataId":"643ee327-bf7a-4e03-8ea8-05de736b0fb3"},"type":"Wait","inputs":{"until":{"timestamp":"@variables('DelayTime')"}}},"Send_an_email_(V2)":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"144fb95f-9c65-4a66-81ba-5d36497384cd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerBody()['email']","emailMessage/Subject":"Export Excel file for '@{triggerBody()['text_1']}'","emailMessage/Body":"<p>Hello,<br>\n<br>\nyou got an email with the excel file from Training Overview page.</p>","emailMessage/From":"@triggerBody()['email']","emailMessage/Attachments":[{"Name":"ExportTrainingsBySOPName.xlsx","ContentBytes":"@body('Get_file_content')"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_metadata_using_path_2":{"runAfter":{"Delay_until":["Succeeded"]},"metadata":{"operationMetadataId":"ee9c9914-742e-41d3-b49c-bb752541545b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_3']","path":"/SOPDocumentLibrary/ExportTrainingOverview.xlsx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content":{"runAfter":{"Get_file_metadata_using_path_2":["Succeeded"]},"metadata":{"operationMetadataId":"e713d247-23f2-4119-af98-6b8c822975bc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"GetFileContent"},"parameters":{"dataset":"@triggerBody()['text_3']","id":"@outputs('Get_file_metadata_using_path_2')?['body/Id']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_all_lists_and_libraries":{"runAfter":{"Compose_Empty_Excel_File":["Succeeded"]},"metadata":{"operationMetadataId":"008161c6-d570-467c-9ffb-2a13bdc382af"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_3']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"adb7b479-55ae-4eb4-b73c-f445b7560c93"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"varDocumentLibraryID":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"1f90d1d8-4f21-4880-951b-fc39df6c19f2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"GET_Role_Instances_ID":{"runAfter":{"Create_table_Pending_Trainings":["Succeeded"]},"metadata":{"operationMetadataId":"ad36c665-7926-4c59-9410-4d88dbde216c"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPRoleInstances')"}},"varSOPRoleInstances":{"runAfter":{"GET_Role_Instances_ID":["Succeeded"]},"metadata":{"operationMetadataId":"c45483a4-a22d-406d-90a9-10685b5da5d1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOP RoleInstances ID","type":"string","value":"@{body('GET_Role_Instances_ID')[0]?['Name']}"}]}},"GET_Role_Definitions_ID":{"runAfter":{"varSOPRoleInstances":["Succeeded"]},"metadata":{"operationMetadataId":"e5bb8d0b-769b-4436-a848-0008f93bef13"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPRoleDefinitions')"}},"varRoleDefinitionsID":{"runAfter":{"GET_Role_Definitions_ID":["Succeeded"]},"metadata":{"operationMetadataId":"3d64aad0-7d17-47ca-87d8-fae8a3d95c43"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Role Definitions ID","type":"string","value":"@{body('GET_Role_Definitions_ID')[0]?['Name']}"}]}},"GET_Role_Users_ID":{"runAfter":{"Create_table_Completed_Trainings_with_Count":["Succeeded"]},"metadata":{"operationMetadataId":"4828b2d0-f5b7-4f1b-b26c-dfb39cbd2a19"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPRoleUsers')"}},"varSOPRoleUsersID":{"runAfter":{"GET_Role_Users_ID":["Succeeded"]},"metadata":{"operationMetadataId":"e8b762e5-4636-4240-880c-91dcc20bb24a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Role Users ID","type":"string","value":"@{body('GET_Role_Users_ID')[0]?['Name']}"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"c43c18c6f381400a87d621160c9491a2","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_excelonlinebusiness_1":{"connectionName":"c43c18c6f381400a87d621160c9491a2","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"8fa15d11e44d4a45b338bb6e0d950bac","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_sharepointonline_2":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}