Microsoft.Flow/flows/2964f24d-7b7f-4263-85ba-9e4fa24fac2f/definition.json
{"name":"51faedf8-a687-4a26-b0d3-b9d60a18c925","id":"/providers/Microsoft.Flow/flows/51faedf8-a687-4a26-b0d3-b9d60a18c925","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"CreateOrUpdateTrainingNew DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"267e0f46-d02d-4cc0-968d-ffe24e828bd1"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"DueDate","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"ManuallyCretaed","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"User","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"boolean":{"title":"IsQuizRequired","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"boolean_1":{"title":"IsUserOnHold","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"text_4":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","boolean","boolean_1","text_4"]}}}},"actions":{"varSOPName":{"runAfter":{},"metadata":{"operationMetadataId":"52916780-4e32-4d8b-8064-0033e30c7103"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOPName","type":"string","value":"@triggerBody()['text']"}]}},"varDueDate":{"runAfter":{"varSOPName":["Succeeded"]},"metadata":{"operationMetadataId":"653acf8b-4ac3-4797-b89d-3622f3176d2d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DueDate","type":"string","value":"@triggerBody()['text_1']"}]}},"varIsQuizRequired":{"runAfter":{"varDueDate":["Succeeded"]},"metadata":{"operationMetadataId":"4c0e647e-51ec-4a83-822e-4bf122917034"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsQuizRequired","type":"boolean","value":"@triggerBody()['boolean']"}]}},"varUser":{"runAfter":{"varManualyCreated":["Succeeded"]},"metadata":{"operationMetadataId":"991bdfa7-b88c-4832-afa5-47f1e4d9c4ac"},"type":"InitializeVariable","inputs":{"variables":[{"name":"User","type":"string","value":"@triggerBody()['text_3']"}]}},"Get_file_metadata_using_path":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"751ecc3a-5559-4d3c-8655-74d807286869"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_4']","path":"/SOPDocumentLibrary/@{variables('SOPName')}/@{variables('SOPName')}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"321a0184-c131-43f8-a0c5-f83032fa5d69"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"@triggerBody()['text_4']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Get_SOPTrainingRecordList_items_by_SOPName_and_User_and_SOPVersion')?['body/value']","actions":{"Update_Item_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"8ca68a5a-8c0f-4988-a838-b5ea26a225f4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('Site Address')","parameters/method":"POST","parameters/uri":"_api/lists/GetByTitle('SOPTrainingRecordList')/items(@{items('Apply_to_each_2')?['ID']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPTrainingRecordListListItem\"\n  },\n\"Title\": \"@{variables('SOPName')}\",\n\"SOPName\":\"@{variables('SOPName')}\",\n\"SOP_x0020_Training_x0020_Passing\":\"@{items('Apply_To_Each_2')?['SOP_x0020_Training_x0020_Passing']}\",\n\"SOP_x0020_Training_x0020_Record_0\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_0']}\",\n\"SOP_x0020_Training_x0020_Record_5\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_5']}\",\n\"SOP_x0020_Training_x0020_Record_11\":\"@{triggerBody()['boolean_1']}\",\n\"SOP_x0020_Training_x0020_Record_3\":\"@{variables('IsCQDHaveQuiz')}\",\n\"SOP_x0020_Training_x0020_Record_2\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_2']}\",\n\"SOP_x0020_Training_x0020_Record_8\":\"@{items('Apply_to_each_2')?['SOP_x0020_Training_x0020_Record_8']}\",\n\"SOP_x0020_Training_x0020_Record_6\":\"@{false}\",\n\"SOP_x0020_Version\":\"@{variables('SOPVersion')}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"dead98ef-ba1f-4354-9f99-090a3d75cbca"},"type":"Foreach"}},"runAfter":{"Get_SOPTrainingRecordList_items_by_SOPName_and_User_and_SOPVersion":["Succeeded"]},"else":{"actions":{"Condition_3":{"actions":{"Send_an_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"3e34198c-e7f5-4aa4-bc12-e7723033f169"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('Site Address')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('SOPTrainingRecordList')/items","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPTrainingRecordListListItem\"\n  },\n\"Title\": \"@{variables('SOPName')}\",\n\"SOPName\":\"@{variables('SOPName')}\",\n\"SOP_x0020_Training_x0020_Record_Id\":@{outputs('Compose')},\n\"SOP_x0020_Training_x0020_Passing\":\"0\",\n\"SOP_x0020_Training_x0020_Record_7\":\"@{variables('DueDate')}\",\n\"SOP_x0020_Training_x0020_Record_0\":false,\n\"SOP_x0020_Training_x0020_Record_5\":true,\n\"SOP_x0020_Training_x0020_Record_11\":false,\n\"SOP_x0020_Training_x0020_Record_2\":false,\n\"SOP_x0020_Training_x0020_Record_6\":false,\n\"SOP_x0020_Training_x0020_Record_3\":\"@{variables('IsCQDHaveQuiz')}\",\n\"SOP_x0020_Training_x0020_Record_8\":\"0\",\n\"SOP_x0020_Version\":\"@{variables('SOPVersion')}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Send_an_HTTP_request_to_SharePoint_2":{"runAfter":{},"metadata":{"operationMetadataId":"0b4731e0-c921-4a8a-90f7-82f09129fbd6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('Site Address')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('SOPTrainingRecordList')/items","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPTrainingRecordListListItem\"\n  },\n\"Title\": \"@{variables('SOPName')}\",\n\"SOPName\":\"@{variables('SOPName')}\",\n\"SOP_x0020_Training_x0020_Passing\":\"0\",\n\"SOP_x0020_Training_x0020_Record_Id\":@{outputs('Compose')},\n\"SOP_x0020_Training_x0020_Record_7\":\"@{variables('DueDate')}\",\n\"SOP_x0020_Training_x0020_Record_0\":false,\n\"SOP_x0020_Training_x0020_Record_5\":false,\n\"SOP_x0020_Training_x0020_Record_11\":false,\n\"SOP_x0020_Training_x0020_Record_2\":false,\n\"SOP_x0020_Training_x0020_Record_6\":false,\n\"SOP_x0020_Training_x0020_Record_3\":\"@{variables('IsCQDHaveQuiz')}\",\n\"SOP_x0020_Training_x0020_Record_8\":\"0\",\n\"SOP_x0020_Version\":\"@{variables('SOPVersion')}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"greater":["@length(variables('varManualyCreated'))",0]},"metadata":{"operationMetadataId":"53a56a6e-627b-47a6-9f41-3da542b64fb0"},"type":"If"}}},"expression":{"greater":["@length(body('Get_SOPTrainingRecordList_items_by_SOPName_and_User_and_SOPVersion')?['value'])",0]},"metadata":{"operationMetadataId":"294b901f-04d5-4c32-b270-5a6cb45bddcd"},"type":"If"},"varSOPVersion":{"runAfter":{"varUser":["Succeeded"]},"metadata":{"operationMetadataId":"c94ed09f-59d5-48b6-a351-0801711930e7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOPVersion","type":"float","value":0}]}},"Condition_if_SOPLatestReleaseVersion_have_an_value":{"actions":{"Set_SOPVersion_variable_value_with_SOPLatestReleaseVersion":{"runAfter":{},"metadata":{"operationMetadataId":"a631b48b-cd81-4fe0-bb48-2aeb256ff0ec"},"type":"SetVariable","inputs":{"name":"SOPVersion","value":"@outputs('Get_file_properties')?['body/SOP_x0020_Latest_x0020_Released_x0020_Version']"}}},"runAfter":{"Get_file_properties":["Succeeded"]},"else":{"actions":{"Set_SOPVersion_variable_value_with_SOPMajorVersion":{"runAfter":{},"metadata":{"operationMetadataId":"81d2cbc3-a3b5-41f6-b8f9-822c419bd771"},"type":"SetVariable","inputs":{"name":"SOPVersion","value":"@outputs('Get_file_properties')?['body/SOP_x0020_Major_x0020_Version']"}}}},"expression":{"not":{"equals":["@outputs('Get_file_properties')?['body/SOP_x0020_Latest_x0020_Released_x0020_Version']","@null"]}},"metadata":{"operationMetadataId":"12b632b8-1c1a-495e-b433-97e1568e613b"},"type":"If"},"varIsCQDHaveQuiz":{"runAfter":{"varSOPVersion":["Succeeded"]},"metadata":{"operationMetadataId":"777ced11-4baa-4407-9dd3-d29bff9a7532"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsCQDHaveQuiz","type":"integer","value":0}]}},"Get_SOPTrainingRecordList_items_by_SOPName_and_User_and_SOPVersion":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"0dfb4df9-9686-43dd-b28f-dc1fb2f411c8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@variables('Site Address')","table":"@variables('SOP Training REcord List ID')","$filter":"(SOPName eq '@{variables('SOPName')}') and (SOP_x0020_Version eq '@{variables('SOPVersion')}') and (SOP_x0020_Training_x0020_Record_/EMail eq '@{variables('User')}')","$orderby":"Created desc","$top":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"varTrainingPassingAttempts":{"runAfter":{"varIsCQDHaveQuiz":["Succeeded"]},"metadata":{"operationMetadataId":"b5ec11fe-ddc3-4a2f-9829-f78740d1c1c9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TrainingPassingAttempts","type":"float","value":0}]}},"varManualyCreated":{"runAfter":{"varIsQuizRequired":["Succeeded"]},"metadata":{"operationMetadataId":"2b1fe04d-cb5c-4e3b-abec-da821304c9b9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varManualyCreated","type":"string","value":"@triggerBody()['text_2']"}]}},"Condition_if_varIsQuizRequired_checked":{"actions":{"Get_SOPQuizDefinitions_items_by_SOPName_and_SOPMajorVersion":{"runAfter":{},"metadata":{"operationMetadataId":"0d4a8b29-f17a-4c92-aebf-a57225a54604"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@variables('Site Address')","table":"@variables('SOP Quiz Definitions ID')","viewScopeOption":"RecursiveAll","$filter":"(SOPName eq '@{variables('SOPName')}') and (SOP_x0020_Version eq '@{variables('SOPVersion')}')","$top":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_SOPQuizDefinitions_items_by_SOPName_and_SOPMajorVersion')?['body/value']","actions":{"Condition_if_Get_items_have_values":{"actions":{"Set_IsCQDHaveQuiz_variable_to_1":{"runAfter":{},"metadata":{"operationMetadataId":"17980d4b-5916-4fc6-9b1e-99d398b38c3b"},"type":"SetVariable","inputs":{"name":"IsCQDHaveQuiz","value":1}},"Set_TrainiingPassingAttempts_variable":{"runAfter":{"Set_IsCQDHaveQuiz_variable_to_1":["Succeeded"]},"metadata":{"operationMetadataId":"ec387316-6320-4325-af70-be3fe9abb779"},"type":"SetVariable","inputs":{"name":"TrainingPassingAttempts","value":"@items('Apply_to_each')?['SOP_x0020_Quiz_x0020_Allowed_x00']"}}},"runAfter":{},"expression":{"greater":["@length(body('Get_SOPQuizDefinitions_items_by_SOPName_and_SOPMajorVersion')?['value'])",0]},"metadata":{"operationMetadataId":"ede167c3-93f6-409d-ab0c-868923ed7158"},"type":"If"}},"runAfter":{"Get_SOPQuizDefinitions_items_by_SOPName_and_SOPMajorVersion":["Succeeded"]},"metadata":{"operationMetadataId":"82b9c24a-4065-48a5-bc36-3f391ee3ba95"},"type":"Foreach"}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"expression":{"equals":["@variables('IsQuizRequired')","@true"]},"metadata":{"operationMetadataId":"0a85eca2-9f95-424e-8d70-1e58e76fdcec"},"type":"If"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"ce8d56b9-3476-44b6-a3ef-817470f8a885"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"varSiteAddress":{"runAfter":{"varTrainingPassingAttempts":["Succeeded"]},"metadata":{"operationMetadataId":"29b9a175-6b27-498a-82ce-32dbebbfcbd5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Site Address","type":"string","value":"@triggerBody()['text_4']"}]}},"Get_all_lists_and_libraries":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"f8fd1dbb-51a8-4666-b88a-edc25dd772e3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_4']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"ede1c9af-23b0-4606-a84d-3938b77d6b39"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"Initialize_variable":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"d1c75637-c67a-472e-81d6-e653d38f7d77"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"GET_Quiz_Definitions_ID":{"runAfter":{"Condition_if_SOPLatestReleaseVersion_have_an_value":["Succeeded"]},"metadata":{"operationMetadataId":"4affb9b6-d879-4fac-86d3-9cf370e6d5bf"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPQuizDefinitions')"}},"Initialize_variable_2":{"runAfter":{"GET_Quiz_Definitions_ID":["Succeeded"]},"metadata":{"operationMetadataId":"1c3e9c24-d2be-4a24-9133-5db1345623fd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOP Quiz Definitions ID","type":"string","value":"@{body('GET_Quiz_Definitions_ID')[0]?['Name']}"}]}},"GET_Training_Record_List_ID":{"runAfter":{"Condition_if_varIsQuizRequired_checked":["Succeeded"]},"metadata":{"operationMetadataId":"9f38aa82-df4b-457d-98ab-a84eaef08d74"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPTrainingRecordList')"}},"Initialize_variable_3":{"runAfter":{"GET_Training_Record_List_ID":["Succeeded"]},"metadata":{"operationMetadataId":"9fcea58b-a213-4cbe-9bfd-aac754ff6820"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOP Training REcord List ID","type":"string","value":"@{body('GET_Training_Record_List_ID')[0]?['Name']}"}]}},"Send_an_HTTP_To_Get_User":{"runAfter":{"varSiteAddress":["Succeeded"]},"metadata":{"operationMetadataId":"a4b4b5d1-6f68-4364-8774-70f6f8a10d4d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('Site Address')","parameters/method":"GET","parameters/uri":"/_api/web/SiteUsers/getByEmail('@{triggerBody()['text_3']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"UserClaims":{"runAfter":{"Send_an_HTTP_To_Get_User":["Succeeded"]},"metadata":{"operationMetadataId":"097ca610-dbcb-42e6-a495-ece11e1fedf3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"User Claims","type":"string","value":"@{body('Send_an_HTTP_To_Get_User')['d']['id']}"}]}},"Compose":{"runAfter":{"UserClaims":["Succeeded"]},"metadata":{"operationMetadataId":"07782aed-0fb3-4cd5-8765-22e7d237114d"},"type":"Compose","inputs":"@body('Send_an_HTTP_To_Get_User')['d']['id']"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}