Microsoft.Flow/flows/0c1bc761-b382-43e2-9ac9-888b05c7600b/definition.json
{"name":"94612b6c-2f2e-4ec3-ae1e-352ef2c3ee68","id":"/providers/Microsoft.Flow/flows/94612b6c-2f2e-4ec3-ae1e-352ef2c3ee68","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SuspendTraining DEV","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"fc98347d-ab57-435b-8896-da37bceff5e5","type":"User","tenantId":"59f63720-3a3f-47d5-80a9-508ff87a342f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-09-19T11:43:32.4342298Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"be00e436-8932-4076-923b-44ff180abf69"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"varSOPName_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"varUser_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"Getalllistsandlibraries_SiteAddress":{"type":"string","description":"Example: https://contoso.sharepoint.com/sites/sitename.","x-ms-powerflows-param-ispartial":false}},"required":["varSOPName_Value","varUser_Value","Getalllistsandlibraries_SiteAddress"]}}}},"actions":{"varSOPName":{"runAfter":{},"metadata":{"operationMetadataId":"022a16c5-ff31-496c-939a-86d918d0b655"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOPName","type":"string","value":"@{triggerBody()['varSOPName_Value']}"}]}},"varUser":{"runAfter":{"varSOPName":["Succeeded"]},"metadata":{"operationMetadataId":"e63cbd10-72f2-427e-897a-115fc61e0ec0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"User","type":"string","value":"@{triggerBody()['varUser_Value']}"}]}},"Get_items":{"runAfter":{"varTrainingRecordID":["Succeeded"]},"metadata":{"operationMetadataId":"a0206861-47a5-4ee2-80d6-b8afeb508f5a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","table":"@variables('Training Record Id')","viewScopeOption":"RecursiveAll","$filter":"(SOPName eq '@{variables('SOPName')}') and (SOP_x0020_Training_x0020_Record_/EMail eq '@{variables('User')}') and ((SOP_x0020_Training_x0020_Record_6 eq '@{null}') or (SOP_x0020_Training_x0020_Record_6 eq 'false')) and ((SOP_x0020_Training_x0020_Record_5 eq '@{null}') or (SOP_x0020_Training_x0020_Record_5 eq 'false')) and (SOP_x0020_Training_x0020_Record_1 eq null)"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_Item_With_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"e831b26c-34e8-4198-9193-433ccf2f3bae"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('SOPTrainingRecordList')/items(@{items('Apply_to_each')})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPTrainingRecordListListItem\"\n  },\n\"SOP_x0020_Training_x0020_Record_6\": false\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"4460eb91-59bf-4fec-9b4e-53214c38a573"},"type":"Foreach"},"Get_all_lists_and_libraries":{"runAfter":{"varUser":["Succeeded"]},"metadata":{"operationMetadataId":"bcd070b1-998a-4107-af41-5742b58180fa"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['Getalllistsandlibraries_SiteAddress']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Training_Record_List_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"5199ad52-d8f0-4a51-bd1e-be1e16276662"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPTrainingRecordList')"}},"varTrainingRecordID":{"runAfter":{"GET_Training_Record_List_ID":["Succeeded"]},"metadata":{"operationMetadataId":"ba579fce-a3ca-447f-8d48-9014033ffe58"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Training Record Id","type":"string","value":"@{body('GET_Training_Record_List_ID')[0]?['Name']}"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}