Microsoft.Flow/flows/cce70f07-bfbf-41b1-9816-b2d164983a96/definition.json
{"name":"23c4fa82-ff78-4f63-a49e-376bbc6185da","id":"/providers/Microsoft.Flow/flows/23c4fa82-ff78-4f63-a49e-376bbc6185da","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"NotifyAssignedUserToTrainingOnRelease DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"90213621-c8f4-4f3a-9ae3-13e58955fce6"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"UserEmail","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"DueDate","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"DisplayName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4"]}}}},"actions":{"Get_file_metadata_using_path":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"280615ba-9fe1-4973-a199-65e8da458ac0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_4']","path":"/SOPDocumentLibrary/@{triggerBody()['text']}/@{triggerBody()['text']}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"2aa36198-78e1-4eff-9d17-485123fc6033"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"@triggerBody()['text_4']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Get_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"2b6e0889-85c4-4d7c-9f48-9e45a573c99e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_4']","parameters/method":"GET","parameters/uri":"_api/web/lists/GetByTitle('SOPDocumentLibrary')/items(@{outputs('Get_file_properties')?['body/ID']})/versions","parameters/headers":{"content-type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Filter_array":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"3c66cdca-d790-4979-a619-a4be4acd5a3a"},"type":"Query","inputs":{"from":"@body('Send_an_HTTP_request_to_SharePoint')['d']['results']","where":"@not(equals(item()['OData__x005f_CheckinComment'], null))"}},"Comment":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"f9dabf56-f1ae-4995-9b33-db3b5dd2a883"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Comment","type":"string","value":"@{body('Filter_array')[0]['OData__x005f_CheckinComment']}"}]}},"Get_all_lists_and_libraries":{"runAfter":{"Emails_Array_of_Objects":["Succeeded"]},"metadata":{"operationMetadataId":"07dabbf1-4cd3-4d87-ac64-247919743a03"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_4']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"cb75ad2d-79ad-4e23-a238-16fea5c89b17"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"varDocumentLibraryID":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"38b32508-c6d4-4e55-9dbb-572be742b7ea"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"Compose":{"runAfter":{},"metadata":{"operationMetadataId":"fe21b294-d75c-416c-9eb7-14bf08fc924b"},"type":"Compose","inputs":"@split(triggerBody()['text_1'], ',')"},"Emails_Array_of_Objects":{"runAfter":{"Select_2":["Succeeded"]},"metadata":{"operationMetadataId":"9cb07dfd-eb5c-4f14-b382-91511d274ea5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Emails Array of Objects","type":"array","value":"@body('Select_2')"}]}},"Apply_to_each_2":{"foreach":"@variables('Emails Array of Objects')","actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"5ceec936-c526-449a-8ba2-710832e5ed3a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each_2')?['Value']","emailMessage/Subject":"NEW training assignment for @{triggerBody()['text']}","emailMessage/Body":"<p>Welcome ,<br>\n<br>\nYou now have a new training assignment to do.<br>\nThis is a new CQD.<br>\nPlease complete before the Due date: &nbsp;@{triggerBody()['text_2']}<br>\nPlease follow the <a href=\"https://apps.powerapps.com/play/e/default-59f63720-3a3f-47d5-80a9-508ff87a342f/a/a914d920-01be-4d4a-aab3-7364fb9e3046?tenantId=59f63720-3a3f-47d5-80a9-508ff87a342f\">link</a><br>\n<br>\nComment:&nbsp;@{variables('Comment')}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@items('Apply_to_each_2')?['Value']",""]},"metadata":{"operationMetadataId":"587d324b-6bb9-45c6-8d1b-c3fd609a39d0"},"type":"If"}},"runAfter":{"Comment":["Succeeded"]},"metadata":{"operationMetadataId":"973fcef7-2c1e-44f3-a76c-b6d0f734b7c6"},"type":"Foreach"},"Select_2":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"bec4770e-973f-43ed-8f19-d9e62e9bed48"},"type":"Select","inputs":{"from":"@outputs('Compose')","select":{"Value":"@item()"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"8fa15d11e44d4a45b338bb6e0d950bac","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}