Microsoft.Flow/flows/989aac56-637d-4835-ba94-0b3a6c1f952c/definition.json
{"name":"87ff25f6-53a3-4515-bc7d-dc0c42dc50ba","id":"/providers/Microsoft.Flow/flows/87ff25f6-53a3-4515-bc7d-dc0c42dc50ba","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Release Version DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"c4f7f0c2-9ff6-45d8-87c1-3c3da874cad4"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SOP Name","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1"]}}}},"actions":{"Get_file_metadata_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"8194ecce-9bdb-45f3-a581-55b296789671"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath"},"parameters":{"dataset":"@triggerBody()['text_1']","path":"/SOPDocumentLibrary/@{triggerBody()['text']}/@{triggerBody()['text']}.docx"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties":{"runAfter":{"varDocumentLibraryID":["Succeeded"]},"metadata":{"operationMetadataId":"34fa2059-321e-425d-a519-3418a57a95b5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('Document Library ID')","id":"@outputs('Get_file_metadata_using_path')?['body/ItemId']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_SOPRoleInstance_items":{"runAfter":{"varRoleInstancesID":["Succeeded"]},"metadata":{"operationMetadataId":"82abccb9-f445-40c0-af36-b4dd2b3d6a7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('Role Instances ID')","viewScopeOption":"RecursiveAll","$filter":"(SOPName eq '@{triggerBody()['text']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_SOPRoleInstance_items":{"foreach":"@outputs('Get_SOPRoleInstance_items')?['body/value']","actions":{"Get_SOPRoleUser_items":{"runAfter":{},"metadata":{"operationMetadataId":"76055114-52bd-4c16-8a38-cd43f1c3481b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('Role Users ID')","$filter":"SOP_x0020_Role_x0020_Id eq '@{items('Apply_to_each_SOPRoleInstance_items')['SOP_x0020_Role_x0020_Id']}'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_varIsQuizChecked_variable":{"runAfter":{"Get_SOPRoleUser_items":["Succeeded"]},"metadata":{"operationMetadataId":"304de6c4-5530-4959-a954-1b8485f9e0c4"},"type":"SetVariable","inputs":{"name":"IsQuizChecked","value":"@items('Apply_to_each_SOPRoleInstance_items').SOP_x0020_Role_x0020_Is_x0020_Qu"}},"Condition":{"actions":{},"runAfter":{"Set_varIsQuizChecked_variable":["Succeeded"]},"else":{"actions":{"Apply_to_each_SOPRoleUser_items":{"foreach":"@outputs('Get_SOPRoleUser_items')?['body/value']","actions":{"Condition_if_SOPRoleUserList_is_empty":{"actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"a2108cb4-3e93-447f-9a09-e2f0a0a65939"},"type":"AppendToArrayVariable","inputs":{"name":"SOPRoleUserList","value":"@items('Apply_to_each_SOPRoleUser_items')['SOP_x0020_Role_x0020_Assigned_x0']['Email']"}}},"runAfter":{},"else":{"actions":{"Filter_array":{"runAfter":{},"metadata":{"operationMetadataId":"1f9ab7dd-4acf-4265-821c-509b5b459a79"},"type":"Query","inputs":{"from":"@variables('SOPRoleUserList')","where":"@contains(item(), items('Apply_to_each_SOPRoleUser_items')['SOP_x0020_Role_x0020_Assigned_x0']['Email'])"}},"Compose_to_check_is_email_contains_in_the_SOPRoleUserList_array":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"7fdb2788-227b-4a47-bae9-46b63940a555"},"type":"Compose","inputs":"@greater(length(body('Filter_array')),0)"},"Condition_if_SOPRoleUserList_array_contains_the_email_from_SOPRoleUser_item":{"actions":{},"runAfter":{"Compose_to_check_is_email_contains_in_the_SOPRoleUserList_array":["Succeeded"]},"else":{"actions":{"Append_to_array_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"367d1e85-533c-4a1a-b612-522e5287ea43"},"type":"AppendToArrayVariable","inputs":{"name":"SOPRoleUserList","value":"@items('Apply_to_each_SOPRoleUser_items')['SOP_x0020_Role_x0020_Assigned_x0']['Email']"}}}},"expression":{"equals":["@outputs('Compose_to_check_is_email_contains_in_the_SOPRoleUserList_array')","@true"]},"metadata":{"operationMetadataId":"fb927c00-eb03-443f-b891-114276c96e2f"},"type":"If"}}},"expression":{"equals":["@length(variables('SOPRoleUserList'))",0]},"metadata":{"operationMetadataId":"7883a981-d881-4d36-aad1-ba9c78ac8721"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"2bff2b07-ef2f-4cfd-b949-059e5e7a9a8f"},"type":"Foreach"}}},"expression":{"equals":["@length(outputs('Get_SOPRoleUser_items')?['body/value'])",0]},"metadata":{"operationMetadataId":"d09fc48c-adec-4766-b383-1d1a9d5c2641"},"type":"If"}},"runAfter":{"varRoleUsersID":["Succeeded"]},"metadata":{"operationMetadataId":"24ded7d5-e41a-4da0-853d-15aa36a3651b"},"type":"Foreach"},"varSOPRoleUserList":{"runAfter":{"Get_SOPRoleInstance_items":["Succeeded"]},"metadata":{"operationMetadataId":"d690b64d-dc0f-4071-bdc6-a07ddd90e915"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOPRoleUserList","type":"array"}]}},"Apply_to_each_SOPRoleUserList":{"foreach":"@variables('SOPRoleUserList')","actions":{"Condition_If_Exists_Training_with_given_SOPName,_SOPVersion_and_User":{"actions":{"Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User":{"foreach":"@outputs('Get_items_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['body/value']","actions":{"Update_item_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"6b2dfc11-0a8e-42d0-a6a8-b97bca67a7ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_1']","parameters/method":"POST","parameters/uri":"_api/lists/GetByTitle('SOPTrainingRecordList')/items(@{items('Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['ID']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPTrainingRecordListListItem\"\n  },\n\"Title\": \"@{items('Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['Title']}\",\n\"SOP_x0020_Training_x0020_Passing\":\"@{items('Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['SOP_x0020_Training_x0020_Passing']}\",\n\"SOP_x0020_Training_x0020_Record_5\":\"@{items('Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['SOP_x0020_Training_x0020_Record_5']}\",\n\"SOP_x0020_Training_x0020_Record_0\":\"@{items('Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['SOP_x0020_Training_x0020_Record_0']}\",\n\"SOP_x0020_Training_x0020_Record_11\":\"@{items('Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['SOP_x0020_Training_x0020_Record_11']}\",\n\"SOP_x0020_Training_x0020_Record_2\":\"@{items('Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['SOP_x0020_Training_x0020_Record_2']}\",\n\"SOP_x0020_Training_x0020_Record_6\":\"@{items('Apply_to_each_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['SOP_x0020_Training_x0020_Record_6']}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"a975dd11-c087-4191-944d-d7ddd722f17d"},"type":"Foreach"}},"runAfter":{"Get_items_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User":["Succeeded"]},"else":{"actions":{"Create_Item_HTTP_request_to_SharePoint":{"runAfter":{},"metadata":{"operationMetadataId":"080b01c0-a848-4daf-b238-03c3dd73662f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_1']","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('SOPTrainingRecordList')/items","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPTrainingRecordListListItem\"\n  },\n\"Title\": \"@{triggerBody()['text']}\",\n\"SOPName\":\"@{triggerBody()['text']}\",\n\"SOP_x0020_Training_x0020_Passing\":\"0\",\n\"SOP_x0020_Training_x0020_Record_\":\"@{items('Apply_to_each_SOPRoleUserList')}\",\n\"SOP_x0020_Training_x0020_Record_7\":\"@{outputs('Get_file_properties')?['body/SOP_x0020_Effective_x0020_Date']}\",\n\"SOP_x0020_Training_x0020_Record_0\":false,\n\"SOP_x0020_Training_x0020_Record_5\":false,\n\"SOP_x0020_Training_x0020_Record_11\":false,\n\"SOP_x0020_Training_x0020_Record_2\":false,\n\"SOP_x0020_Training_x0020_Record_6\":false,\n\"SOP_x0020_Training_x0020_Record_3\":\"@{variables('RecordType')}\",\n\"SOP_x0020_Training_x0020_Record_8\":\"0\",\n\"SOP_x0020_Version\":\"@{outputs('Get_file_properties')?['body/SOP_x0020_Version']}\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"greater":["@length(outputs('Get_items_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User')?['body/value'])",0]},"metadata":{"operationMetadataId":"2d295617-cddc-45a1-8bc6-f4afe701165a"},"type":"If"},"Get_items_SOPTrainingRecords_by_SOPName,_SOPVersion_and_User":{"runAfter":{},"metadata":{"operationMetadataId":"c19950c0-44ae-42d6-b8dc-8e4c4f24d6d3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_2","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('Training Record ID')","$filter":"(SOPName eq '@{triggerBody()['text']}') and (SOP_x0020_Version eq '@{outputs('Get_file_properties')?['body/SOP_x0020_Version']}') and (SOP_x0020_Training_x0020_Record_/EMail eq '@{items('Apply_to_each_SOPRoleUserList')}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"varTrainingRecordID":["Succeeded"]},"metadata":{"operationMetadataId":"2550f061-b56f-4644-a317-9153c6e6a067"},"type":"Foreach"},"varIsQuizChecked":{"runAfter":{"varSOPRoleUserList":["Succeeded"]},"metadata":{"operationMetadataId":"2e404417-a5b7-4f5f-b635-10158a59ba7f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsQuizChecked","type":"boolean","value":false}]}},"varRecordType":{"runAfter":{"varIsQuizChecked":["Succeeded"]},"metadata":{"operationMetadataId":"3067f624-0a43-4351-9da7-eb09260216ee"},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordType","type":"integer","value":0}]}},"Condition_fill_Record_Type":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"41172112-672b-439f-90c5-46a0aa49e531"},"type":"SetVariable","inputs":{"name":"RecordType","value":1}}},"runAfter":{"Apply_to_each_SOPRoleInstance_items":["Succeeded"]},"else":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"4a57daca-f004-4a0f-9e85-2a0fa6ed2322"},"type":"SetVariable","inputs":{"name":"RecordType","value":0}}}},"expression":{"equals":["@variables('IsQuizChecked')","@true"]},"metadata":{"operationMetadataId":"7fcce881-7182-4be0-bc38-0c7a7b25a664"},"type":"If"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Apply_to_each_SOPRoleUserList":["Succeeded"]},"metadata":{"operationMetadataId":"9fac9172-9da8-4e6c-89ab-d6e65615c51e"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"Get_SOPQuizDefinitions_items_by_SOPName_and_SOPMajorVersion":{"runAfter":{"varQuizDefinitionID":["Succeeded"]},"metadata":{"operationMetadataId":"0d4a8b29-f17a-4c92-aebf-a57225a54604"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('Quiz Definition ID')","viewScopeOption":"RecursiveAll","$filter":"(SOPName eq '@{triggerBody()['text']}') and (SOP_x0020_Version eq '@{outputs('Get_file_properties')?['body/SOP_x0020_Version']}')","$top":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_SOPQuizDefinitions_items_by_SOPName_and_SOPMajorVersion')?['body/value']","actions":{"Condition_if_Get_items_have_values":{"actions":{"Set_TrainiingPassingAttempts_variable":{"runAfter":{},"metadata":{"operationMetadataId":"ec387316-6320-4325-af70-be3fe9abb779"},"type":"SetVariable","inputs":{"name":"TrainingPassingAttempts","value":"@items('Apply_to_each')?['SOP_x0020_Quiz_x0020_Allowed_x00']"}}},"runAfter":{},"expression":{"greater":["@length(body('Get_SOPQuizDefinitions_items_by_SOPName_and_SOPMajorVersion')?['value'])",0]},"metadata":{"operationMetadataId":"ede167c3-93f6-409d-ab0c-868923ed7158"},"type":"If"}},"runAfter":{"Get_SOPQuizDefinitions_items_by_SOPName_and_SOPMajorVersion":["Succeeded"]},"metadata":{"operationMetadataId":"82b9c24a-4065-48a5-bc36-3f391ee3ba95"},"type":"Foreach"},"varTrainingPassingAttempts":{"runAfter":{"varRecordType":["Succeeded"]},"metadata":{"operationMetadataId":"b5ec11fe-ddc3-4a2f-9829-f78740d1c1c9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TrainingPassingAttempts","type":"float","value":0}]}},"Get_all_lists_and_libraries":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"40761577-2346-42e2-9dc2-0514c0759692"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_1']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Document_Library_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"3ae25d58-95ef-46ad-8f82-18558d6380f8"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPDocumentLibrary')"}},"varDocumentLibraryID":{"runAfter":{"GET_Document_Library_ID":["Succeeded"]},"metadata":{"operationMetadataId":"f32e3607-0183-4319-95ff-09a157f56db6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Document Library ID","type":"string","value":"@{body('GET_Document_Library_ID')[0]?['Name']}"}]}},"Update_file_properties_HTTP_request_to_SharePoint":{"runAfter":{"Get_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"0dc1f361-9443-4746-8913-c990953633cd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"@triggerBody()['text_1']","parameters/method":"POST","parameters/uri":"_api/lists/GetByTitle('SOPDocumentLibrary')/items(@{outputs('Get_file_metadata_using_path')?['body/ItemId']})","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","X-HTTP-Method":"MERGE","IF-MATCH":"*"},"parameters/body":"{\n\"__metadata\": {\n    \"type\": \"SP.Data.SOPDocumentLibraryItem\"\n  },\n\"SOP_x0020_Latest_x0020_Released_x0020_Version\":\"@{outputs('Get_file_properties')?['body/SOP_x0020_Version']}\",\n\"SOP_x0020_Retired\":false\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Role_Instance_ID":{"runAfter":{"Update_file_properties_HTTP_request_to_SharePoint":["Succeeded"]},"metadata":{"operationMetadataId":"3f8215e6-4f14-4193-b74f-7167f7f6c4e8"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPRoleInstances')"}},"varRoleInstancesID":{"runAfter":{"GET_Role_Instance_ID":["Succeeded"]},"metadata":{"operationMetadataId":"17475b57-4116-4c41-a87e-8893bd605622"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Role Instances ID","type":"string","value":"@{body('GET_Role_Instance_ID')[0]?['Name']}"}]}},"GET_Role_ID":{"runAfter":{"varTrainingPassingAttempts":["Succeeded"]},"metadata":{"operationMetadataId":"520cd4af-93aa-4d71-8876-22c16d33a865"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPRoleUsers')"}},"varRoleUsersID":{"runAfter":{"GET_Role_ID":["Succeeded"]},"metadata":{"operationMetadataId":"bfd80369-ca4c-4356-bf01-e9208ef8781f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Role Users ID","type":"string","value":"@{body('GET_Role_ID')[0]?['Name']}"}]}},"GET_Quiz_Definition_ID":{"runAfter":{"Condition_fill_Record_Type":["Succeeded"]},"metadata":{"operationMetadataId":"9ddae285-1b1a-40d3-8856-44884d5ed890"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPQuizDefinitions')"}},"varQuizDefinitionID":{"runAfter":{"GET_Quiz_Definition_ID":["Succeeded"]},"metadata":{"operationMetadataId":"eea1dabf-34aa-472a-bcd2-6d7ba26c8e5d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Quiz Definition ID","type":"string","value":"@{body('GET_Quiz_Definition_ID')[0]?['Name']}"}]}},"GET_Training_Record_ID":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"558a6253-29fc-42b6-a17a-f4f3e0c7d763"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], 'SOPTrainingRecordList')"}},"varTrainingRecordID":{"runAfter":{"GET_Training_Record_ID":["Succeeded"]},"metadata":{"operationMetadataId":"7d30fb51-45b2-4e1c-8e7a-93f3cb3d1ebc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Training Record ID","type":"string","value":"@{body('GET_Training_Record_ID')[0]?['Name']}"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_sharepointonline_2":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}