Microsoft.Flow/flows/d795eb7a-666f-4ca1-8240-283d5c7af575/definition.json
{"name":"80adf1f5-aa81-4696-a198-b577ad9f7795","id":"/providers/Microsoft.Flow/flows/80adf1f5-aa81-4696-a198-b577ad9f7795","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SendEmailToLM DEV","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f74cf466-a413-4922-bc9e-ea0e67573c7e"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"email":{"title":"Email","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"text":{"title":"SOPName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Site Address","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["email","text","text_1"]}}}},"actions":{"Get_User_Roles":{"runAfter":{"varRoleUsersID":["Succeeded"]},"metadata":{"operationMetadataId":"582fdf31-d7b7-4cb2-9825-812db70cdfa1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('SOP Role Users ID')","$filter":"SOP_x0020_Role_x0020_Assigned_x0/EMail eq '@{triggerBody()['email']}'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Get_User_Roles')?['body/value']","actions":{"Get_Super_Groups":{"runAfter":{},"metadata":{"operationMetadataId":"ba389bd3-36ff-485a-bc39-682fb5f66963"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('SOP Role DEfinitions Id')","$filter":"(SOP_x0020_Role_x0020_Type eq '@{int(1)}') and (ID eq '@{items('Apply_to_each_2')?['SOP_x0020_Role_x0020_Id']}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Get_Super_Groups')?['body/value']","actions":{"Get_line_managers":{"runAfter":{},"metadata":{"operationMetadataId":"88665bd5-c6e1-4d1c-a14d-3a957a74bd78"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@triggerBody()['text_1']","table":"@variables('SOP Role Users ID')","$filter":"(SOP_x0020_Role_x0020_Id eq '@{items('Apply_to_each')['ID']}' ) and (SOP_x0020_RoleUser_x0020_Type eq '@{int('1')}')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_email_to_all_line_managers":{"foreach":"@outputs('Get_line_managers')?['body/value']","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"58927bbf-8245-4070-a078-3fb182909258"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Send_email_to_all_line_managers')['SOP_x0020_Role_x0020_Assigned_x0']['Email']","emailMessage/Subject":"Quiz Failure for @{triggerBody()['text']}","emailMessage/Body":"<p><br>\nPlease liaise with @{items('Apply_to_each_2')?['SOP_x0020_Role_x0020_Assigned_x0/DisplayName']} to arrange for additional training before re-enabling the quiz.<br>\n <br>\n&nbsp;</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Get_line_managers":["Succeeded"]},"metadata":{"operationMetadataId":"de45a419-0265-43d3-8230-4e20f32bd1ee"},"type":"Foreach"}},"runAfter":{"Get_Super_Groups":["Succeeded"]},"metadata":{"operationMetadataId":"9a703939-bf3b-44fa-8955-893f7b4610e7"},"type":"Foreach"}},"runAfter":{"varRoleDefinitionsID":["Succeeded"]},"metadata":{"operationMetadataId":"afd13416-300e-4075-beb6-26e68ea61b13"},"type":"Foreach"},"Get_all_lists_and_libraries":{"runAfter":{},"metadata":{"operationMetadataId":"b01d417b-3e92-4ab7-af70-cb18ac43c8cc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAllTables"},"parameters":{"dataset":"@triggerBody()['text_1']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"GET_Role_Users_ID":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"metadata":{"operationMetadataId":"80f2b62c-759b-48a3-be73-47b0604bcd9c"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], '')"}},"varRoleUsersID":{"runAfter":{"GET_Role_Users_ID":["Succeeded"]},"metadata":{"operationMetadataId":"6cf4672a-c719-44e0-b328-f7e41b1bdfe0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOP Role Users ID","type":"string","value":"@{body('GET_Role_Users_ID')[0]?['Name']}"}]}},"GET_Role_Definitions_ID":{"runAfter":{"Get_User_Roles":["Succeeded"]},"metadata":{"operationMetadataId":"3c6605f3-f9e4-4419-8b9f-a5f855e27ca8"},"type":"Query","inputs":{"from":"@outputs('Get_all_lists_and_libraries')?['body/value']","where":"@equals(item()?['DisplayName'], '')"}},"varRoleDefinitionsID":{"runAfter":{"GET_Role_Definitions_ID":["Succeeded"]},"metadata":{"operationMetadataId":"8dd65e33-2d5b-4871-9bfb-7a188217fc6a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SOP Role DEfinitions Id","type":"string","value":"@{body('GET_Role_Definitions_ID')[0]?['Name']}"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"9afaa76b10a04bfba817474411f72337","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"8fa15d11e44d4a45b338bb6e0d950bac","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}